# Maintained by Ansible
{# kafka_connect_replicator_producer_final_properties defined in confluent.variables #}
{% for key, value in kafka_connect_replicator_producer_final_properties|dictsort %}
{{key}}={{value}}
{% endfor %}
