[Unit]
Description=Kafka Connect Replicator
Documentation=http://docs.confluent.io/
After=network.target confluent-server.target

[Service]
Type=simple
User=cp-kafka-connect-replicator
Group=confluent
ExecStart={{ binary_base_path }}/bin/replicator --consumer.config {{kafka_connect_replicator.consumer_config_file}} --producer.config {{kafka_connect_replicator.producer_config_file}} --cluster.id {{kafka_connect_replicator_cluster_id}} --replication.config {{kafka_connect_replicator.replication_config_file}} --consumer.monitoring.config {{kafka_connect_replicator.interceptors_config_file}} --producer.monitoring.config {{kafka_connect_replicator.interceptors_config_file}}
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
