[Unit]
Description=Apache Kafka - ZooKeeper
Documentation=http://docs.confluent.io/
After=network.target

[Service]
Type=simple
{% if zookeeper_user != '' %}
User={{ zookeeper_user }}
{% endif %}
{% if zookeeper_group != '' %}
Group={{ zookeeper_group }}
{% endif %}
ExecStart={{ zookeeper.server_start_file }} {{ zookeeper.config_file }}
TimeoutStopSec=180
Restart=no

[Install]
