{% if hostvars[inventory_hostname]['zookeeper_id'] is defined %}
{{ hostvars[inventory_hostname]['zookeeper_id'] }}
{% else %}
{% for host in groups['zookeeper'] %}
{% if host == inventory_hostname %}
{{ loop.index }}
{% endif %}
{% endfor %}
{% endif %}
