{% for host in groups['zookeeper'] %}
{% if host == inventory_hostname %}
{% set zookeeper_vars = hostvars[host].get('zookeeper', dict()) %}
{% set id = zookeeper_vars.get('id', loop.index) %}
{{ id }}
{% endif %}
{% endfor %}
