[Service]
{% for key, value in zookeeper_service_overrides.items() %}
{% if key =='ExecStart' %}
# If there is an ExecStart override then we need to clear ExecStart first
ExecStart=
{% endif %}
{% if value %}
{{key}}={{value}}
{% endif %}
{% endfor %}
{% for key, value in zookeeper_service_environment_overrides.items() %}
{% if value %}
Environment="{{key}}={{value}}"
{% endif %}
{% endfor %}
