{% if zookeeper_sasl_protocol == 'kerberos' %}
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    keyTab="{{kerberos.keytab_dir}}/{{zookeeper_kerberos_keytab_path | basename}}"
    storeKey=true
    useTicketCache=false
    principal="{{zookeeper_kerberos_principal}}";
};
{% endif %}
{% if zookeeper_sasl_protocol == 'digest' %}
Server {
    org.apache.zookeeper.server.auth.DigestLoginModule required
{% for user in zookeeper_digest_users|dict2items %}
    user_{{ user['value']['principal'] }}="{{ user['value']['password'] }}"{% if loop.index == loop|length %};{% endif %}

{% endfor %}
};

QuorumServer {
    org.apache.zookeeper.server.auth.DigestLoginModule required
{% for user in zookeeper_digest_users|dict2items %}
    user_{{ user['value']['principal'] }}="{{ user['value']['password'] }}"{% if loop.index == loop|length %};{% endif %}

{% endfor %}
};

QuorumLearner {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    username="{{zookeeper_digest_users.admin.principal}}"
    password="{{zookeeper_digest_users.admin.password}}";
};
{% endif %}
