{% if zookeeper_client_authentication_type == 'kerberos' %}
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    keyTab="{{ zookeeper_keytab_path }}"
    storeKey=true
    useTicketCache=false
    principal="{{zookeeper_kerberos_principal}}";
};

{% endif %}
{% if zookeeper_client_authentication_type == 'digest' %}
Server {
    org.apache.zookeeper.server.auth.DigestLoginModule required
{% for user in zookeeper_digest_users|dict2items %}
    user_{{ user['value']['principal'] }}="{{ user['value']['password'] }}"{% if loop.index == loop|length %};{% endif %}

{% endfor %}
};

{% endif %}
{% if zookeeper_quorum_authentication_type == 'digest' %}
QuorumServer {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    user_{{zookeeper_digest_users.admin.principal}}="{{zookeeper_digest_users.admin.password}}";
};

QuorumLearner {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    username="{{zookeeper_digest_users.admin.principal}}"
    password="{{zookeeper_digest_users.admin.password}}";
};
{% endif %}
