# Maintained by Ansible
{% for key, value in zookeeper.config.items() %}
{{key}}={{value}}
{% endfor %}
{% for host in groups['zookeeper'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_fqdn'] }}:2888:3888
{% endfor %}