// Specifies a unique keytab and principal name for each ZooKeeper node
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    keyTab="{{kerberos.keytab_dir}}/zookeeper-{{inventory_hostname}}.keytab"
    storeKey=true
    useTicketCache=false
    principal="zookeeper/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
};
