---
- name: RBAC Setup Tasks
  import_role:
    name: common
    tasks_from: rbac_setup.yml
  vars:
    user: "{{schema_registry_user}}"
    group: "{{schema_registry_group}}"
  delegate_to: "{{ 'localhost' if external_mds_enabled|bool else groups['kafka_broker'][0] }}"

- set_fact:
    send_client_cert: "{{ ssl_client_authentication in ['required', 'requested'] }}"

- name: Grant role System Admin to Additional Schema Registry users/groups
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/principals/{% if 'User' not in item and 'Group' not in item %}User:{% endif %}{{item}}/roles/SystemAdmin"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    client_cert: "{{ schema_registry_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ schema_registry_key_path if send_client_cert|bool else omit }}"
    body_format: json
    body: >
      {
        "clusters": {
          "kafka-cluster": "{{kafka_cluster_id}}",
          "schema-registry-cluster": "{{schema_registry_final_properties['schema.registry.group.id']}}"
        }
      }
    status_code: 204
  register: sr_mds_result
  until: sr_mds_result.status == 204
  retries: "{{ mds_retries }}"
  delay: 5
  no_log: "{{mask_secrets|bool}}"
  loop: "{{schema_registry_additional_system_admins}}"
  when: not ansible_check_mode

- name: Grant Schema Registry user the role SecurityAdmin on the Schema Registry cluster
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/principals/User:{{sr_user}}/roles/SecurityAdmin"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    client_cert: "{{ schema_registry_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ schema_registry_key_path if send_client_cert|bool else omit }}"
    body_format: json
    body: >
      {
        "clusters": {
          "kafka-cluster": "{{kafka_cluster_id}}",
          "schema-registry-cluster": "{{schema_registry_final_properties['schema.registry.group.id']}}"
        }
      }
    status_code: 204
  register: sr_mds_result
  until: sr_mds_result.status == 204
  retries: "{{ mds_retries }}"
  delay: 5
  no_log: "{{mask_secrets|bool}}"
  when: not ansible_check_mode

- name: Grant Schema Registry user ResourceOwner Schema Registry Group and Topic
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/principals/User:{{sr_user}}/roles/ResourceOwner/bindings"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    client_cert: "{{ schema_registry_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ schema_registry_key_path if send_client_cert|bool else omit }}"
    body_format: json
    body: >
      {
        "scope": {
          "clusters": {
            "kafka-cluster": "{{kafka_cluster_id}}"
          }
        },
        "resourcePatterns": [
          {
            "resourceType":"Group",
            "name": "{{schema_registry_final_properties['schema.registry.group.id']}}",
            "patternType":"LITERAL"
          },
          {
            "resourceType":"Topic",
            "name": "{{schema_registry_final_properties['kafkastore.topic']}}",
            "patternType":"LITERAL"
          },
          {
            "resourceType":"Topic",
            "name": "{{schema_registry_final_properties['confluent.license.topic']}}",
            "patternType":"LITERAL"
          }
        ]
      }
    status_code: 204
  register: sr_mds_result
  until: sr_mds_result.status == 204
  retries: "{{ mds_retries }}"
  delay: 5
  no_log: "{{mask_secrets|bool}}"
  when: not ansible_check_mode
