[Service]
{% for key, value in schema.registry.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}
{% for key, value in kafka.broker.systemd_defaults.items() %}
{{key}}={{value}}
{% endfor %}
