{{ "Maintained by Ansible" | comment }}
kafkastore.bootstrap.servers={{ groups['broker'] | format_host('PLAINTEXT://{host}:{port}', {'port': broker.config.port}) | join(',') }}
{% include './includes/base_schema-registry.properties.j2' %}