# Maintained by Ansible
kafkastore.bootstrap.servers={{ confluent.cloud.broker.endpoint }}

kafkastore.security.protocol=SASL_SSL

#SSL additions
kafkastore.ssl.endpoint.identification.algorithm=https
kafkastore.request.timeout.ms=20000
kafkastore.retry.backoff.ms=500

#SASL additions
kafkastore.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";
kafkastore.sasl.mechanism=PLAIN

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
