{{ ansible_managed | comment }}
kafkastore.bootstrap.servers={{ groups['broker'] | format_host('{security_mode}://{host}:{port}', {'port': broker.config.port, 'security_mode': security_mode.upper() }) | join(',') }}
{{ client_config | append_prefix('kafkastore.') | combine(schema.registry.config) | to_properties }}