{{ "Maintained by Ansible" | comment }}
kafkastore.bootstrap.servers={{ groups['broker'] | format_host('SSL://{host}:{port}', {'port': broker.config.port}) | join(',') }}

{% include './includes/base_schema-registry.properties.j2' %}

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent
kafkastore.security.protocol=SSL
