# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}SASL_SSL://{{ host }}:{{broker.config.port}}{% endfor %}

kafkastore.connection.url=zookeeper.connect={% for inventory_hostname in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ inventory_hostname }}:{{zookeeper.config.clientPort}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}

kafkastore.security.protocol=SASL_SSL
kafkastore.sasl.mechanism=GSSAPI

kafkastore.sasl.kerberos.service.name=kafka

# Kerberos Properties
kafkastore.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/schemaregistry-{{inventory_hostname}}.keytab" \
   principal="schemaregistry/{{inventory_hostname}}@{{realm|upper()}}";

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password={{host_truststore_storepass}}
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password={{host_keystore_storepass}}
kafkastore.ssl.key.password={{host_cert_password}}
kafkastore.security.protocol=SASL_SSL
