zookeeper.connect={{ groups['zookeeper'] | format_host('{host}:{port}', {'port': zookeeper.config.clientPort}) | join(',') }}
log.dirs={{kafka.broker.datadir| join(',') }}
broker.id={{kafka.broker.id}}

{{  kafka.broker.config | to_properties }}
