---
- name: Extract ClusterId from meta.properties on KRaft Controller
  slurp:
    src: "{{ kafka_controller_final_properties['log.dirs'] }}/meta.properties"
  delegate_to: "{{ groups.kafka_controller[0] }}"
  register: uuid_broker

- name: Format Storage Directory
  command: "{{ binary_base_path }}/bin/kafka-storage format -t={{ clusterid }} -c {{ kafka_broker.config_file }} --ignore-formatted --no-initial-controllers"
  # 9991@controller1:9093:{{ clusterid }},9992@controller2:9093:{{ clusterid }},9993@controller3:9093:{{ clusterid }}"
  register: format_meta
  changed_when: format_meta.rc == 0
  vars:
    clusterid: "{{ (uuid_broker['content'] | b64decode).partition('cluster.id=')[2].partition('\n')[0] }}"
