---
- include_role:
    name: common
  when: not common_role_completed|bool
  tags: common

- name: Gather OS Facts
  setup:
    # Only gathers items in list, filters out the rest
    filter: "{{item}}"
    gather_subset:
      - '!all'
  loop:
    - ansible_os_family
    - ansible_fqdn
    - ansible_distribution

# datadir is no longer supported method to provide data directories for kafka brokers
- name: Assert that datadir is not present in the inventory
  assert:
    that: >
      'kafka_broker' not in hostvars[item] or
      hostvars[item].kafka_broker == None or
      'datadir' not in hostvars[item].kafka_broker
    fail_msg: |
      "The 'datadir' configuration property is now obsolete for configuration of kafka broker data directories."
      "Please use 'log.dirs' under kafka_broker_custom_properties with comma separated directories."
  loop: "{{ groups['kafka_broker'] }}"

# To avoid a catastrophic user error where root directory permissions get recursively changed
- name: Assert log.dirs Property not Misconfigured
  assert:
    that:
      - kafka_broker_final_properties['log.dirs'].split(',')[0] != "/"
    fail_msg: "If you have log.dirs in kafka_broker_custom_properties, make sure it's comma separated directories."

- name: Stop Service and Remove Packages on Version Change
  include_role:
    name: common
    tasks_from: remove_packages.yml
  vars:
    service_name: "{{ kafka_broker_service_name }}"
  when: installation_method == "package"
  tags:
    - package
    - cp_package

- name: Install the Kafka Broker Packages
  yum:
    name: "{{ kafka_broker_packages | product([confluent_package_redhat_suffix]) | map('join') | list }}"
    state: latest
  register: install_kafka_package_result
  until: install_kafka_package_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  when:
    - ansible_os_family == "RedHat"
    - installation_method == "package"
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - package
    - cp_package
  notify: restart kafka

- name: Install the Kafka Broker Packages
  apt:
    name: "{{ kafka_broker_packages | product([confluent_package_debian_suffix]) | map('join') | list }}"
  register: install_kafka_package_result
  until: install_kafka_package_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  when:
    - ansible_os_family == "Debian"
    - installation_method == "package"
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - package
    - cp_package
  notify: restart kafka

- name: Kafka Broker group
  group:
    name: "{{kafka_broker_group}}"
  tags:
    - privileged

- name: Check if Kafka Broker User Exists
  # Create user task must be skipped for non-linux users
  getent:
    database: passwd
    key: "{{kafka_broker_user}}"
  failed_when: false

- name: Create Kafka Broker user
  user:
    name: "{{kafka_broker_user}}"
    comment: Confluent Kafka
    system: true
    shell: "{{user_login_shell}}"
    group: "{{kafka_broker_group}}"
  when: (getent_passwd|default({}))[kafka_broker_user] is not defined
  tags:
    - privileged

# Archive File deployments need to create SystemD service units
# Copy the tarball's systemd service to the system
- name: Copy Kafka Broker Service from archive file to system
  copy:
    src: "{{binary_base_path}}/lib/systemd/system/{{kafka_broker.systemd_file|basename}}"
    remote_src: true
    dest: "{{kafka_broker.systemd_file}}"
    mode: 0644
    force: true
  when: installation_method == "archive"
  tags:
    - systemd
    - privileged

- include_role:
    name: ssl
  vars:
    truststore_storepass: "{{kafka_broker_truststore_storepass}}"
    truststore_path: "{{kafka_broker_pkcs12_truststore_path}}"
    keystore_path: "{{kafka_broker_pkcs12_keystore_path}}"
    keystore_storepass: "{{kafka_broker_keystore_storepass}}"
    keystore_keypass: "{{kafka_broker_keystore_keypass}}"
    service_name: kafka_broker
    user: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
    hostnames: "{{ ([inventory_hostname, ansible_fqdn, ansible_host, ansible_ssh_host|default(omit), hostname|default(omit)] + kafka_broker_listeners | confluent.platform.get_hostnames(inventory_hostname)) | unique }}"
    ca_cert_path: "{{kafka_broker_ca_cert_path}}"
    cert_path: "{{kafka_broker_cert_path}}"
    key_path: "{{kafka_broker_key_path}}"
    export_certs: "{{kafka_broker_export_certs}}"
    create_bouncy_castle_keystore: "{{fips_enabled}}"
    bcfks_truststore_path: "{{kafka_broker_bcfks_truststore_path}}"
    bcfks_keystore_path: "{{kafka_broker_bcfks_keystore_path}}"
  when: >
    zookeeper_ssl_enabled|bool or
    kafka_broker_listeners | confluent.platform.ssl_required(ssl_enabled) or
    kafka_broker_rest_ssl_enabled|bool or
    mds_broker_listener.ssl_enabled|bool or
    mds_tls_enabled|bool or
    ( kafka_broker_schema_validation_enabled and 'schema_registry' in groups and schema_registry_ssl_enabled )
  tags: ssl

- include_tasks: rbac.yml
  when: rbac_enabled|bool

- name: Configure Kerberos
  include_role:
    name: kerberos
  vars:
    kerberos_group: "{{kafka_broker_group}}"
    kerberos_user: "{{kafka_broker_user}}"
    kerberos_keytab_path: "{{kafka_broker_kerberos_keytab_path}}"
    kerberos_keytab_destination_path: "{{kafka_broker_keytab_path}}"
    kerberos_handler: "restart kafka"
  when: "'GSSAPI' in kafka_broker_sasl_enabled_mechanisms or zookeeper_client_authentication_type == 'kerberos' or mds_broker_listener.sasl_protocol =='kerberos'"

- name: Copy Custom Kafka Files
  include_role:
    name: common
    tasks_from: copy_files.yml
  vars:
    copy_files: "{{kafka_broker_copy_files}}"
    user: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: kafka_broker_copy_files | length > 0
  tags:
    - configuration

- name: Set Permissions on /var/lib/kafka
  file:
    path: /var/lib/kafka/
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
    state: directory
    mode: 0750
  tags:
    - privileged
    - filesystem

- name: Set Permissions on Data Dirs
  file:
    path: "{{item}}"
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
    state: directory
    mode: 0750
  with_items: "{{ kafka_broker_final_properties['log.dirs'].split(',') }}"
  tags:
    - filesystem
    - privileged

- name: Set Permissions on Data Dir files  # noqa deprecated-command-syntax
  # Have to use command + chown instead of the Ansible file module here as it seems
  # like the file module can't handle files modified/deleted while running. This task
  # can fail on a very active cluster. See https://github.com/confluentinc/cp-ansible/pull/903 for details.
  command: chown -R {{ kafka_broker_user }}:{{ kafka_broker_group }} {{ item }}
  changed_when: false
  with_items: "{{ kafka_broker_final_properties['log.dirs'].split(',') }}"
  tags:
    - filesystem

- name: Create Kafka Broker Config directory
  file:
    path: "{{ kafka_broker.config_file | dirname }}"
    state: directory
    mode: 0750
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  tags:
    - filesystem
    - privileged


- name: Create Kafka Broker Config
  template:
    src: server.properties.j2
    dest: "{{kafka_broker.config_file}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  notify: restart kafka
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration
    - privileged

- name: Create Kafka Broker Client Config
  template:
    src: client.properties.j2
    dest: "{{kafka_broker.client_config_file}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration
    - privileged

# Zookeeper shell cannot read server.properties if secrets protection is enabled. Keeping a separate file.
- name: Create Zookeeper TLS Client Config
  template:
    src: zookeeper-tls-client.properties.j2
    dest: "{{kafka_broker.zookeeper_tls_client_config_file}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: zookeeper_ssl_enabled|bool
  tags:
    - configuration
    - privileged

- name: Create Logs Directory
  file:
    path: "{{kafka_broker_log_dir}}"
    state: directory
    group: "{{kafka_broker_group}}"
    owner: "{{kafka_broker_user}}"
    mode: 0770
  tags:
    - filesystem
    - log
    - privileged

- name: Update Kafka log4j Config for Log Cleanup
  include_role:
    name: common
    tasks_from: update_log4j.yml
  vars:
    log4j_file: "{{kafka_broker.log4j_file}}"
    log4j_max_backup_index: "{{kafka_broker_max_log_files}}"
    log4j_max_file_size: "{{kafka_broker_log_file_size}}"
    log4j_root_logger: "{{kafka_broker_log4j_root_logger}}"
    handler: "restart kafka"
  when: kafka_broker_custom_log4j|bool
  tags:
    - configuration
    - log

- name: Set Permissions on Log4j Conf
  file:
    path: "{{kafka_broker.log4j_file}}"
    group: "{{kafka_broker_group}}"
    owner: "{{kafka_broker_user}}"
    mode: 0640
  tags:
    - filesystem
    - log
    - privileged

- name: Create logredactor rule file directory
  file:
    path: "{{ logredactor_rule_path | dirname }}"
    state: directory
    mode: 0755
  when: (kafka_broker_custom_log4j|bool) and (logredactor_enabled|bool) and (logredactor_rule_url == '')
  tags:
    - log
    - privileged

- name: Copy logredactor rule file from control node to component node
  copy:
    src: "{{ logredactor_rule_path_local }}"
    dest: "{{ logredactor_rule_path }}"
    mode: 0644
  when: (kafka_broker_custom_log4j|bool) and (logredactor_enabled|bool) and (logredactor_rule_url == '')
  tags:
    - log
    - privileged

- name: Configure logredactor
  include_role:
    name: common
    tasks_from: configure_logredactor.yml
  vars:
    log4j_file: "{{kafka_broker.log4j_file}}"
    logredactor_rule_var: "{% if logredactor_rule_url == '' %}{{logredactor_rule_path}}{% else %}{{logredactor_rule_url}}{% endif %}"
    logredactor_policy_refresh_interval_var: "{{logredactor_policy_refresh_interval}}"
  with_items: "{{ kafka_broker_logredactor_logger_specs_list }}"
  when: (kafka_broker_custom_log4j|bool) and (logredactor_enabled|bool)
  tags:
    - log

- name: Restart kafka broker
  ansible.builtin.debug:
    msg: "restarting kafka broker"
  notify: restart kafka
  when: (kafka_broker_custom_log4j|bool) and (logredactor_enabled|bool) and (not kafka_broker_skip_restarts|bool)
  tags:
    - log

- name: Create Kafka Broker Jolokia Config
  template:
    src: kafka_jolokia.properties.j2
    dest: "{{kafka_broker_jolokia_config}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: kafka_broker_jolokia_enabled|bool
  notify: restart kafka
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration
    - privileged

- name: Create Kafka Broker Jaas Config
  template:
    src: kafka_server_jaas.conf.j2
    dest: "{{kafka_broker.jaas_file}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: "'GSSAPI' in kafka_broker_sasl_enabled_mechanisms or
          zookeeper_sasl_protocol in ['kerberos', 'digest'] or
          zookeeper_client_authentication_type in ['kerberos', 'digest'] or
          (kafka_broker_rest_proxy_enabled and (not rbac_enabled or (rbac_enabled and external_mds_enabled)) and kafka_broker_rest_proxy_authentication_type == 'basic')"
  notify: restart kafka
  tags:
    - configuration
    - privileged

- name: Create Kafka Broker Password File
  template:
    src: password.properties.j2
    dest: "{{kafka_broker.rest_proxy_password_file}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: kafka_broker_rest_proxy_enabled and (not rbac_enabled or (rbac_enabled and external_mds_enabled)) and kafka_broker_rest_proxy_authentication_type == 'basic'
  notify: restart kafka
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - privileged

- name: Create Zookeeper chroot
  shell: >
    {{ binary_base_path }}/bin/zookeeper-shell {{ groups['zookeeper'][0] }}:{{zookeeper_client_port}} \
      {% if zookeeper_ssl_enabled|bool %}-zk-tls-config-file {{ kafka_broker.zookeeper_tls_client_config_file if kafka_broker_secrets_protection_enabled else kafka_broker.config_file }}{% endif %} \
      create {{zookeeper_chroot}} ""
  register: create_chroot
  run_once: true
  check_mode: false
  failed_when:
    - "'Node already exists: ' + zookeeper_chroot not in create_chroot.stderr"
    - "'Created ' + zookeeper_chroot not in create_chroot.stderr"
  changed_when: "'Created ' + zookeeper_chroot in create_chroot.stderr"
  when: zookeeper_chroot|length > 0

- name: Create SCRAM Users
  shell: |
    {% if kafka_broker_final_properties['zookeeper.set.acl']|default('false')|lower == 'true' %}KAFKA_OPTS='-Djava.security.auth.login.config={{kafka_broker.jaas_file}}'{% endif %} \
    {{ binary_base_path }}/bin/kafka-configs {% if zookeeper_ssl_enabled|bool %}--zk-tls-config-file {{ kafka_broker.zookeeper_tls_client_config_file if kafka_broker_secrets_protection_enabled else kafka_broker.config_file }}{% endif %} \
      --zookeeper {{ groups['zookeeper'][0] }}:{{zookeeper_client_port}}{{zookeeper_chroot}} --alter \
      --add-config 'SCRAM-SHA-512=[password={{ item.value['password'] }}]' \
      --entity-type users --entity-name {{ item.value['principal'] }}
  loop: "{{ sasl_scram_users_final|dict2items }}"
  run_once: true
  when: "'SCRAM-SHA-512' in kafka_broker_sasl_enabled_mechanisms"
  no_log: "{{mask_secrets|bool}}"

- name: Create SCRAM 256 Users
  shell: |
    {% if kafka_broker_final_properties['zookeeper.set.acl']|default('false')|lower == 'true' %}KAFKA_OPTS='-Djava.security.auth.login.config={{kafka_broker.jaas_file}}'{% endif %} \
    {{ binary_base_path }}/bin/kafka-configs {% if zookeeper_ssl_enabled|bool %}--zk-tls-config-file {{ kafka_broker.zookeeper_tls_client_config_file if kafka_broker_secrets_protection_enabled else kafka_broker.config_file }}{% endif %} \
      --zookeeper {{ groups['zookeeper'][0] }}:{{zookeeper_client_port}}{{zookeeper_chroot}} --alter \
      --add-config 'SCRAM-SHA-256=[password={{ item.value['password'] }}]' \
      --entity-type users --entity-name {{ item.value['principal'] }}
  loop: "{{ sasl_scram256_users_final|dict2items }}"
  run_once: true
  when: "'SCRAM-SHA-256' in kafka_broker_sasl_enabled_mechanisms"
  no_log: "{{ mask_sensitive_logs|bool }}"

- name: Deploy JMX Exporter Config File
  template:
    src: "{{kafka_broker_jmxexporter_config_source_path}}"
    dest: "{{kafka_broker_jmxexporter_config_path}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when: kafka_broker_jmxexporter_enabled|bool
  tags:
    - configuration
    - privileged

- name: Create Service Override Directory
  file:
    path: "{{kafka_broker.systemd_override | dirname }}"
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
    state: directory
    mode: 0640
  tags:
    - systemd
    - privileged

- name: Write Service Overrides
  template:
    src: override.conf.j2
    dest: "{{ kafka_broker.systemd_override }}"
    mode: 0640
    owner: root
    group: root
  notify: restart kafka
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - systemd
    - privileged

- name: Create sysctl directory on Debian distributions
  file:
    path: /usr/lib/sysctl.d
    state: directory
  when: ansible_distribution == "Debian"
  tags:
    - sysctl
    - privileged

- name: Create sysctl directory on Debian distributions
  file:
    path: /usr/lib/sysctl.d
    state: directory
    mode: 0755
  when: ansible_distribution == "Debian"
  tags:
    - sysctl
    - privileged

- name: Tune virtual memory settings
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: "{{ kafka_broker_sysctl_file }}"
    reload: true
  with_dict: "{{ kafka_broker_sysctl }}"
  tags:
    - sysctl
    - privileged

- name: Certs were Updated - Trigger Restart
  command: /bin/true
  notify: restart kafka
  when: certs_updated|bool

# We need to start MDS here to proceed with secrets protection
- meta: flush_handlers

# Starting confluent cli v2, secrets protection works only when rbac
- name: Encrypt secrets
  include_tasks: secrets_protection.yml
  when:
    - kafka_broker_secrets_protection_enabled|bool or kafka_broker_client_secrets_protection_enabled|bool
    - rbac_enabled|bool

- meta: flush_handlers

- name: Kafka Started
  systemd:
    name: "{{kafka_broker_service_name}}"
    enabled: true
    state: started
  tags:
    - systemd

- name: Wait for health checks to complete
  include_tasks: health_check.yml
  when:
    - kafka_broker_health_checks_enabled|bool
    - not ansible_check_mode
  tags: health_check

- name: Register Cluster
  include_tasks: register_cluster.yml
  when: kafka_broker_cluster_name|length > 0 and rbac_enabled|bool

- name: Create RBAC Rolebindings
  include_tasks: rbac_rolebindings.yml
  when: kafka_broker_additional_system_admins|length > 0

- name: Delete temporary keys/certs when keystore and trustore is provided
  file:
    path: "{{item}}"
    state: absent
  loop:
    - "{{kafka_broker_ca_cert_path}}"
    - "{{kafka_broker_cert_path}}"
    - "{{kafka_broker_key_path}}"
  when: (ssl_provided_keystore_and_truststore | bool)
