---
- name: Get Principals used on the Inter Broker Listener
  include_tasks: set_principal.yml
  vars:
    listener: "{{kafka_broker_listeners[kafka_broker_inter_broker_listener_name]}}"
    kb_keystore_path: "{{ hostvars[item]['kafka_broker_keystore_path'] | default(kafka_broker_keystore_path) }}"
    kb_keystore_storepass: "{{ hostvars[item]['kafka_broker_keystore_storepass'] | default(kafka_broker_keystore_storepass) }}"
  loop: "{{ groups['kafka_broker'] }}"
  args:
    apply:
      delegate_to: "{{item}}"
      delegate_facts: true
  run_once: true

- name: Show principals
  debug:
    msg: "Principal for {{item}} is  {{ hostvars[item]['kafka_broker_principal'] }}"
  loop: "{{ groups['kafka_broker'] }}"
  run_once: true

# Take super.users property, split into list, remove empty string from list, and add in mds_super_user
- name: Initialize Super Users List
  set_fact:
    super_users: "{{ (kafka_broker_final_properties['super.users'] | default('')).split(';') | difference(['']) + [ 'User:' + lookup('vars', 'mds_super_user') ]}}"

# Loop over each brokers principal and add to list
- name: Add Each Broker's Principal to Super Users List
  set_fact:
    super_users: "{{ super_users + [ hostvars[item]['kafka_broker_principal'] ] }}"
  loop: "{{ groups['kafka_broker'] }}"

- name: Remove Duplicates and Convert to String
  set_fact:
    super_users: "{{ super_users | unique | join(';') }}"

- name: Add Super Users list to Kafka Properties
  set_fact:
    kafka_broker_final_properties: "{{ kafka_broker_final_properties | combine(
      {
          'super.users': super_users
      }
    ) }}"

- name: Create SSL Certificate Directory
  file:
    path: /var/ssl/private
    state: directory
    mode: 0755
  tags:
    - privileged
    - filesystem

- name: Check if MDS public pem file exists on Ansible Controller
  stat:
    path: "{{ token_services_public_pem_file }}"
  register: broker_public_pem_file
  delegate_to: localhost
  vars:
    ansible_connection: local
    ansible_become: "{{ ansible_become_localhost }}"

- name: Debug
  ansible.builtin.debug:
    msg: WARNING - The file {{token_services_public_pem_file}} doesn't exist on the control node
  when: not broker_public_pem_file.stat.exists|bool

- name: Copy in public pem files
  copy:
    src: "{{token_services_public_pem_file}}"
    dest: "{{rbac_enabled_public_pem_path}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when:
    - broker_public_pem_file.stat.exists|bool
    - not ( ssl_provided_keystore_and_truststore_remote_src|bool )
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - privileged

- name: Check if MDS private pem file exists on Ansible Controller
  stat:
    path: "{{ token_services_private_pem_file }}"
  register: broker_private_pem_file
  delegate_to: localhost
  vars:
    ansible_connection: local
    ansible_become: "{{ ansible_become_localhost }}"

- name: Debug
  ansible.builtin.debug:
    msg: WARNING - The file {{token_services_private_pem_file}} doesn't exist on the control node
  when: not broker_private_pem_file.stat.exists|bool

- name: Copy in private pem files
  copy:
    src: "{{token_services_private_pem_file}}"
    dest: "{{rbac_enabled_private_pem_path}}"
    mode: 0640
    owner: "{{kafka_broker_user}}"
    group: "{{kafka_broker_group}}"
  when:
    - broker_private_pem_file.stat.exists|bool
    - not ( ssl_provided_keystore_and_truststore_remote_src|bool )
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - privileged
