---
- name: Get Kafka Cluster Id
  import_role:
    name: common
    tasks_from: rbac_setup.yml
  vars:
    copy_certs: false
    delegated_to_localhost: "{{ external_mds_enabled|bool }}"
  delegate_to: >-
    {%- if ssl_client_authentication == 'none' -%}
      {{ omit }}
    {%- elif external_mds_enabled|bool -%}
      localhost
    {%- else -%}
      {{ groups['kafka_broker'][0] }}
    {%- endif -%}

- set_fact:
    send_client_cert: "{{ ssl_client_authentication in ['required', 'requested'] }}"

- name: Register Kafka Cluster
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/registry/clusters"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    client_cert: "{{ kafka_broker_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ kafka_broker_key_path if send_client_cert|bool else omit }}"
    body_format: json
    # For audit logs, must register the oauth listener which will be the "internal" listener
    body: >
      [
          {
              "clusterName": "{{kafka_broker_cluster_name}}",
              "scope": {
                  "clusters": {
                      "kafka-cluster": "{{kafka_cluster_id}}"
                  }
              },
              "hosts": [ {% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{ "host": "{{host}}", "port": {{kafka_broker_listeners.internal.port}} }{% endfor %}
              ],
              "protocol": "{{kafka_broker_listeners.internal.sasl_protocol|default(sasl_protocol) | confluent.platform.kafka_protocol(kafka_broker_listeners.internal.ssl_enabled|default(ssl_enabled)) }}"
          }
      ]
    status_code: 204
  run_once: true
  when: auth_mode != 'mtls'
  no_log: "{{mask_secrets|bool}}"
  register: output
  until: output.status == 204
  retries: "{{ mds_retries }}"
  delay: 10

- name: Register Kafka Cluster mTLS
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/registry/clusters"
    method: POST
    validate_certs: false
    client_cert: "{{ kafka_broker_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ kafka_broker_key_path if send_client_cert|bool else omit }}"
    body_format: json
    # For audit logs, must register the oauth listener which will be the "internal" listener
    body: >
      [
          {
              "clusterName": "{{kafka_broker_cluster_name}}",
              "scope": {
                  "clusters": {
                      "kafka-cluster": "{{kafka_cluster_id}}"
                  }
              },
              "hosts": [ {% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{ "host": "{{host}}", "port": {{kafka_broker_listeners.internal_token.port}} }{% endfor %}
              ],
              "protocol": "{{kafka_broker_listeners.internal_token.sasl_protocol|default(sasl_protocol) | confluent.platform.kafka_protocol(kafka_broker_listeners.internal_token.ssl_enabled|default(ssl_enabled)) }}"
          }
      ]
    status_code: 204
  run_once: true
  when: auth_mode == 'mtls'
  no_log: "{{mask_secrets|bool}}"
  register: output
  until: output.status == 204
  retries: "{{ mds_retries }}"
  delay: 10