---
- name: Create Kafka Broker Config with Secrets Protection
  include_role:
    name: common
    tasks_from: secrets_protection.yml
  vars:
    final_properties: "{{ kafka_broker_final_properties }}"
    encrypt_passwords: "{{ kafka_broker_secrets_protection_encrypt_passwords }}"
    encrypt_properties: "{{ kafka_broker_secrets_protection_encrypt_properties }}"
    config_path: "{{ kafka_broker.config_file }}"
    secrets_file: "{{ kafka_broker_secrets_protection_file }}"
    secrets_file_owner: "{{ kafka_broker_user }}"
    secrets_file_group: "{{ kafka_broker_group }}"
    ca_cert_path: "{{ kafka_broker_ca_cert_path if ssl_enabled|bool else '' }}"
    handler: "restart kafka"
  tags:
    - configuration

- name: Create Kafka Broker Client Config with Secrets Protection
  include_role:
    name: common
    tasks_from: secrets_protection.yml
  vars:
    final_properties: "{{ kafka_broker_client_properties }}"
    encrypt_passwords: "{{ kafka_broker_client_secrets_protection_encrypt_passwords }}"
    encrypt_properties: "{{ kafka_broker_client_secrets_protection_encrypt_properties }}"
    config_path: "{{ kafka_broker.client_config_file}}"
    secrets_file: "{{ kafka_broker_client_secrets_protection_file }}"
    secrets_file_owner: "{{ kafka_broker_user }}"
    secrets_file_group: "{{ kafka_broker_group }}"
    ca_cert_path: "{{ kafka_broker_ca_cert_path if ssl_enabled|bool else '' }}"
    handler: "restart kafka"
  tags:
    - configuration

- name: Update system overrides with masterkey
  template:
    src: override.conf.j2
    dest: "{{ kafka_broker.systemd_override }}"
    mode: 0640
    owner: root
    group: root
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - systemd

- name: Restart kafka broker
  ansible.builtin.debug:
    msg: "restarting kafka broker"
  notify: restart kafka
  tags:
    - systemd
