---
- name: Create directory for client config file if it does not exist
  ansible.builtin.file:
    path: "{{ kerberos_client_config_file_dest | dirname }}"
    state: directory
    mode: '0755'

- name: Copy the client configuration file
  template:
    src: krb5.conf.j2
    dest: "{{ kerberos_client_config_file_dest }}"
  when: kerberos_configure|bool

- name: Create Keytabs Directory
  file:
    path: "{{ kerberos_keytab_destination_path | dirname }}"
    state: directory
    group: "{{kerberos_group}}"
    mode: 0750

- name: Copy in Keytab File
  copy:
    src: "{{kerberos_keytab_path}}"
    dest: "{{kerberos_keytab_destination_path}}"
    owner: "{{kerberos_user}}"
    group: "{{kerberos_group}}"
    mode: 0640
  notify: "{{kerberos_handler}}"
