# Maintained by Ansible
listeners=SSL://:{{kafka_port}}

{% include './includes/base_server.properties.j2' %}

ssl.client.auth=required

# SSL Additions
security.inter.broker.protocol=SSL
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password={{host_truststore_storepass}}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{host_keystore_storepass}}
ssl.key.password={{host_cert_password}}
confluent.metrics.reporter.security.protocol=SSL
confluent.metrics.reporter.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.metrics.reporter.ssl.truststore.password={{host_truststore_storepass}}
confluent.metrics.reporter.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.metrics.reporter.ssl.keystore.password={{host_keystore_storepass}}
confluent.metrics.reporter.ssl.key.password={{host_cert_password}}

# Confluent Support
{% include './includes/confluent_support.j2' %}
