# Maintained by Ansible

{% include './includes/base_server.properties.j2' %}

listeners=SASL_SSL://:{{kafka_port}}
sasl.enabled.mechanisms=GSSAPI
sasl.mechanism.inter.broker.protocol=GSSAPI
sasl.kerberos.service.name=kafka

zookeeper.set.acl=false

# Confluent Support
{% include './includes/confluent_support.j2' %}

confluent.metrics.reporter.sasl.mechanism=GSSAPI
confluent.metrics.reporter.sasl.kerberos.service.name=kafka
confluent.metrics.reporter.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/client-{{inventory_hostname}}.keytab" \
   principal="client/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

ssl.client.auth=required

# SSL Additions
security.inter.broker.protocol=SASL_SSL
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password={{host_truststore_storepass}}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{host_keystore_storepass}}
ssl.key.password={{host_cert_password}}
confluent.metrics.reporter.security.protocol=SASL_SSL
confluent.metrics.reporter.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.metrics.reporter.ssl.truststore.password={{host_truststore_storepass}}
confluent.metrics.reporter.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.metrics.reporter.ssl.keystore.password={{host_keystore_storepass}}
confluent.metrics.reporter.ssl.key.password={{host_cert_password}}
