#!/usr/bin/env bash

{% for key, value in kafka_connect_service_environment_overrides.items() %}
{% if value %}
export {{key}}={{value}}
{% endif %}
{% endfor %}

{{binary_base_path}}/connect-distributed -daemon {{kafka_connect.config_file}}