dn: cn=config
changetype: modify
add: olcTLSCACertificateFile
{%if ldaps_enabled|bool and not ldaps_custom_certs|bool%}
olcTLSCACertificateFile: /var/ssl/private/ldaps/{{root_certificate_name}}
{%endif%}
{%if ldaps_enabled|bool and ldaps_custom_certs|bool%}
olcTLSCACertificateFile: /var/ssl/private/ldaps/{{ssl_ca_cert_filepath|basename}}
{%endif%}
-
delete: olcTLSCACertificatePath
-
replace: olcTLSCertificateKeyFile
{%if ldaps_enabled|bool and not ldaps_custom_certs|bool%}
olcTLSCertificateKeyFile: /var/ssl/private/ldaps/{{ldap_private_key_name}}
{%endif%}
{%if ldaps_enabled|bool and ldaps_custom_certs|bool%}
olcTLSCertificateKeyFile: /var/ssl/private/ldaps/{{ssl_key_filepath|basename}}
{%endif%}
-
replace: olcTLSCertificateFile
{%if ldaps_enabled|bool and not ldaps_custom_certs|bool%}
olcTLSCertificateFile: /var/ssl/private/ldaps/{{ldap_crt_name}}
{%endif%}
{%if ldaps_enabled|bool and ldaps_custom_certs|bool%}
olcTLSCertificateFile: /var/ssl/private/ldaps/{{ssl_signed_cert_filepath|basename}}
{%endif%}