dn: uid={{ldap_user}},ou={{ldap_rbac_group}},dc={{ldap_dc}},dc={{ldap_dc_extension}}
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ldap_user}}
uid: {{ldap_user}}
uidNumber: {{ldap_user_uid}}
gidNumber: {{ldap_user_gid}}
homeDirectory: /home/{{ldap_user}}
loginShell: /bin/bash
gecos: {{ldap_user}} [Admin (at) {{ldap_dc}}]
userPassword: {crypt}x
shadowLastChange: 17058
shadowMin: 0
shadowMax: 99999
shadowWarning: 7
