[bumpversion]
current_version = 7.6.14
commit = true
message = Bump CP Version: {current_version} → {new_version}
tag = false
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:docs/sample_inventories/ccloud.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/ccloud_self_managed_schema_registry.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/client_listener_for_ldap_users.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/fips.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kafka_connect_replicator.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kafka_connect_replicator_rbac.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kerberos_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/migration_sample.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/mtls_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/multi_connect_workers_on_single_node.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment_rbac_ldap.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment_rbac_oauth.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_centralized_mds_kerberos_custom_certs_example.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_kerberos_custom_certs_example.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_mutiple_ksql.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_sso_c3.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/sasl_ssl_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/single_dev_node.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

