[bumpversion]
current_version = 7.9.10
commit = true
message = Bump CP Version: {current_version} → {new_version}
tag = false
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:docs/sample_inventories/ccloud.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/ccloud_self_managed_schema_registry.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/client_listener_for_ldap_users.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/control_center_next_gen_with_cp_790.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/controller_broker_scram_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/fips.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/inter_broker_scram_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kafka_connect_replicator.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kafka_connect_replicator_rbac.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/kerberos_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/migration_sample.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/migration_sample_scram.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/mtls_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/multi_connect_workers_on_single_node.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/nonRBACtoRBACLdap.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/nonRBACtoRBACOAuth.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment_rbac_ldap.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/non_root_deployment_rbac_oauth.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/oauth_brownfield.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/oauth_greenfield.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/oauth_greenfield_non_rbac.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-ldap-to-mtls-brownfield/step0_ldap_setup.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-ldap-to-mtls-brownfield/step1_enable_mtls.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-ldap-to-mtls-brownfield/step3_required.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-ldap-to-mtls-brownfield/step4_ldap_to_sso.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-oauth-to-mtls-brownfield/step0_oauth_sso_setup.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-oauth-to-mtls-brownfield/step1_enable_mtls.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-oauth-to-mtls-brownfield/step3_required.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-over-mtls-centralized-mds.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-over-mtls-file-based-user-store.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac-over-oauth-and-mtls.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_centralized_mds_kerberos_custom_certs_example.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_kerberos_custom_certs_example.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_mutiple_ksql.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/rbac_sso_c3.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/sasl_ssl_kraft.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/single_dev_node.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/sr-automation-workflow/sr_switchover_cp_to_cc.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/ssm/ssm_hostname_aliasing.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/ssm/ssm_without_hostname_aliasing.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/usm_agent/usm_agent_basic_auth.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/usm_agent/usm_agent_basic_auth_tls.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/usm_agent/usm_agent_mtls.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/usm_agent/usm_agent_mtls_custom_certs.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

[bumpversion:file:docs/sample_inventories/usm_agent/usm_agent_no_auth.yml]
search = confluent_package_version: {current_version}
replace = confluent_package_version: {new_version}

