{{ control_center_next_gen_dep_alertmanager.log_path }}/*.log {
    size {{ control_center_next_gen_dependency_alertmanager_logrotate_config.size }}
    rotate {{ control_center_next_gen_dependency_alertmanager_logrotate_config.rotate }}
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    su {{ control_center_next_gen_user }} {{ control_center_next_gen_group }}
}
