[Service]
# Redirect stdout and stderr to log files
StandardOutput=append:{{ control_center_next_gen_dep_alertmanager.log_path }}/alertmanager_access.log
StandardError=append:{{ control_center_next_gen_dep_alertmanager.log_path }}/alertmanager_application.log
