[Service]
# Redirect stdout and stderr to log files
StandardOutput=append:{{ control_center_next_gen_dep_prometheus.log_path }}/prometheus.log
StandardError=append:{{ control_center_next_gen_dep_prometheus.log_path }}/prometheus.log
