{% if control_center_next_gen_dependency_prometheus_ssl_enabled %}
tls_server_config:
  cert_file: {{control_center_next_gen_dependency_prometheus_cert_path}}
  key_file: {{control_center_next_gen_dependency_prometheus_key_path}}
{% if control_center_next_gen_dependency_prometheus_mtls_enabled %}
  client_auth_type: RequireAndVerifyClientCert
  client_ca_file: {{control_center_next_gen_dependency_prometheus_ca_cert_path}}
{% endif %}
{% if control_center_next_gen_dependency_prometheus_basic_auth_enabled %}
basic_auth_users:
  {% for user, hashed_password in control_center_next_gen_dependency_prometheus_basic_auth_users.items() %}
  {{ user }}: {{ hashed_password }}
  {% endfor %}
{% endif %}
{% endif %}