alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - {{control_center_next_gen_dependency_alertmanager_host}}:{{control_center_next_gen_dependency_alertmanager_port}}
      scheme: {{control_center_next_gen_dependency_alertmanager_schema}}
{% if control_center_next_gen_dependency_alertmanager_ssl_enabled %}
      tls_config:
        cert_file: {{control_center_next_gen_dependency_prometheus_cert_path}}
        key_file:  {{control_center_next_gen_dependency_prometheus_key_path}}
{% if control_center_next_gen_dependency_prometheus_mtls_enabled %}
        server_name: {{control_center_next_gen_dependency_prometheus_service_name}}
        ca_file: {{control_center_next_gen_dependency_prometheus_ca_cert_path}}
{% endif %}
{% endif %}
