---
- name: Create SSL Certificate Directory
  file:
    path: /var/ssl/private/kafka_connect_replicator_monitoring_interceptor
    state: directory
    mode: 0755
  when: copy_certs | default(True)

- name: Copy in MDS Public Pem File
  copy:
    src: "{{ kafka_connect_replicator_monitoring_interceptor_erp_pem_file }}"
    dest: "{{ kafka_connect_replicator_monitoring_interceptor_rbac_enabled_public_pem_path }}"
    mode: 0640
    owner: "{{kafka_connect_replicator_user}}"
    group: "{{kafka_connect_replicator_group}}"
  when: copy_certs | default(True)
  diff: "{{ not mask_sensitive_diff|bool }}"

# The following block of URI calls sets up the permissions for replicator when cluster_id is used for the indetifier.

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusters": {
            "kafka-cluster":"{{kafka_connect_replicator_monitoring_interceptor_kafka_cluster_id}}"
          }
        },
        "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_id != "")

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusterName": "{{ kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name }}"
        },
        "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_id != "")


# The following block of URI calls sets up the permissions for replicator when cluster_name is used for the indetifier.

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusterName": "{{ kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name }}"
        },
            "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name != "")

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusterName": "{{ kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name }}"
        },
            "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name != "")
