bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

ksql.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:{{schemaregistry.config.port}}/{% endfor %}

{% for key, value in ksql.config.items() %}
{{key}}={{value}}
{% endfor %}