// Broker
// The properties username and password in the KafkaServer section are used by the broker to initiate connections to other brokers.
KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="{{broker_user_actual.login}}"
   password="{{broker_user_actual.secret}}"
   {% for item in broker_users %}
   user_{{item.login}}="{{item.secret}}"
   {% endfor %};
};

// Zookeeper
KafkaClient {
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="{{zk_broker.login}}"
    	password="{{zk_broker.secret}}";
};
Client {
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="{{zk_broker.login}}"
    	password="{{zk_broker.secret}}";
};
