{% set converter_config = { False: connect.converter.json, True: connect.converter.avro }[client.schema.registry.enabled] -%}
{{ ansible_managed | comment }}
bootstrap.servers={{ client.broker.bootstrap_servers }}
{{ client_config | append_prefix(['consumer.', 'producer.']) | combine(converter_config) | combine(kafka.connect.distributed.config) | to_properties }}