{% set schema_registries = groups.get('schema-registry', []) %}

bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

{% if schema_registries %}
value.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}

key.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}
{% endif %}

{% for key, value in kafka.connect.distributed.config.items() %}
{{key}}={{value}}
{% endfor %}
