{% set schema_registries = groups.get('schema-registry', []) %}

bootstrap.servers={{ groups['broker'] | format_host('{host}:{port}', {'port': broker.config.port}) | join(',') }}

{% if schema_registries %}
value.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}

key.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}
{% endif %}

{{ kafka.connect.distributed.config | to_properties }}
