[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{ realm|upper() }}
 dns_lookup_realm = {{ dns_lookup_realm }}
 dns_lookup_kdc = {{ dns_lookup_kdc }}
 ticket_lifetime = {{ ticket_lifetime }}
 renew_lifetime = {{ renew_lifetime }}
 forwardable = {{ forwardable }}
 udp_preference_limit = {{ udp_preference_limit }}
 default_tkt_enctypes = {{ default_tkt_enctypes }}
 default_tgs_enctypes = {{ default_tgs_enctypes }}
 permitted_enctypes = {{ permitted_enctypes }}

[realms]
 {{ realm| upper() }} = {
  kdc = {{ kdc_hostname }}:88
  admin_server = {{ admin_hostname }}:749
  default_domain = {{ realm|lower() }}
 }

[domain_realm]
 .{{ realm|lower() }} = {{ realm|upper() }}
  {{ realm|lower() }} = {{ realm|upper() }}

#kdc = {{ kdc_hostname }}.{{ realm|lower() }}:88
#admin_server = {{ admin_hostname }}.{{ realm|lower() }}:749
