# Maintained by Ansible
{# kafka_broker_client_properties defined in the confluent.variables role #}
{% for key, value in kafka_broker_client_properties|dictsort%}
{{key}}={{value}}
{% endfor %}
default.api.timeout.ms=20000
request.timeout.ms=20000
