[Unit]
Description=Apache Kafka - broker
Documentation=http://docs.confluent.io/
After=network.target confluent-zookeeper.target

[Service]
Type=simple
{% if kafka_broker_user != '' %}
User={{ kafka_broker_user }}
{% endif %}
{% if kafka_broker_group != '' %}
Group={{ kafka_broker_group }}
{% endif %}
ExecStart={{ kafka_broker.server_start_file }} {{ kafka_broker.config_file }}
LimitNOFILE=1000000
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target