{{config_prefix}}security.protocol={{listener | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if listener['ssl_enabled'] | default(ssl_enabled) | bool %}
{{config_prefix}}ssl.truststore.location={{truststore_path}}
{{config_prefix}}ssl.truststore.password={{truststore_storepass}}
{% if listener['ssl_mutual_auth_enabled'] | default(ssl_mutual_auth_enabled) | bool %}
{{config_prefix}}ssl.keystore.location={{keystore_path}}
{{config_prefix}}ssl.keystore.password={{keystore_storepass}}
{{config_prefix}}ssl.key.password={{keystore_keypass}}
{% if listener['pkcs12_enabled'] | default(pkcs12_enabled) | bool %}
{{config_prefix}}ssl.keymanager.algorithm=PKIX
{{config_prefix}}ssl.trustmanager.algorithm=PKIX
{{config_prefix}}ssl.keystore.type=pkcs12
{{config_prefix}}ssl.truststore.type=pkcs12
{% endif %}
{% endif %}
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'PLAIN' %}
{{config_prefix}}sasl.mechanism=PLAIN
{{config_prefix}}sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
   username="{{sasl_plain_username}}" password="{{sasl_plain_password}}";
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
{{config_prefix}}sasl.mechanism=SCRAM-SHA-256
{{config_prefix}}sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_username}}" password="{{sasl_scram_password}}";
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'GSSAPI' %}
{{config_prefix}}sasl.mechanism=GSSAPI
{{config_prefix}}sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
{{config_prefix}}sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true storeKey=true keyTab="{{kerberos.keytab_dir}}/{{kerberos_keytab_path | basename}}" \
   principal="{{kerberos_principal}}";
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'OAUTHBEARER' %}
{{config_prefix}}sasl.mechanism=OAUTHBEARER
{{config_prefix}}sasl.login.callback.handler.class=io.confluent.kafka.clients.plugins.auth.token.TokenUserLoginCallbackHandler
{{config_prefix}}sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
   username="{{oauth_username}}" password="{{oauth_password}}" \
   metadataServerUrls="{% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{mds_http_protocol}}://{{ host }}:{{mds_port}}{% endfor %}";
{% endif %}
