{% if zookeeper_sasl_protocol == 'kerberos' %}
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{kerberos.keytab_dir}}/{{kafka_broker_kerberos_keytab_path | basename}}"
    principal="{{kafka_broker_kerberos_principal}}";
};
{% endif %}
{% if zookeeper_sasl_protocol == 'kerberos' %}

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{kerberos.keytab_dir}}/{{kafka_broker_kerberos_keytab_path | basename}}"
    principal="{{kafka_broker_kerberos_principal}}";
};
{% endif %}
