// Specifies a unique keytab and principal name for each broker
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{kerberos.keytab_dir}}/{{inventory_hostname}}.keytab"
    principal="kafka/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
};

// ZooKeeper client authentication
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{kerberos.keytab_dir}}/cp-zk-{{inventory_hostname}}.keytab"
    principal="cp-zk/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
};
