{% if listener_ssl_enabled|bool %}
listener.name.{{listener_name|lower}}.ssl.truststore.location={{truststore_path}}
listener.name.{{listener_name|lower}}.ssl.truststore.password={{truststore_storepass}}
listener.name.{{listener_name|lower}}.ssl.keystore.location={{keystore_path}}
listener.name.{{listener_name|lower}}.ssl.keystore.password={{keystore_storepass}}
listener.name.{{listener_name|lower}}.ssl.key.password={{keystore_keypass}}
{% endif %}
{% if listener_ssl_mutual_auth_enabled|bool %}
listener.name.{{listener_name|lower}}.ssl.client.auth=required
{% endif %}
{% if listener_sasl_protocol == 'PLAIN' %}
listener.name.{{listener_name|lower}}.sasl.enabled.mechanisms=PLAIN
listener.name.{{listener_name|lower}}.plain.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
  username="{{sasl_scram_users.admin.principal}}" password="{{sasl_scram_users.admin.password}}" \
{% for user in sasl_plain_users|dict2items %}
  user_{{ user['value']['principal'] }}="{{ user['value']['password'] }}"{% if loop.index != loop|length %} \
{% else %}
;
{% endif %}
{% endfor %}
{% endif %}
{% if listener_sasl_protocol == 'GSSAPI' %}
listener.name.{{listener_name|lower}}.sasl.enabled.mechanisms=GSSAPI
listener.name.{{listener_name|lower}}.gssapi.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
  useKeyTab=true \
  storeKey=true \
  keyTab="{{kerberos.keytab_dir}}/{{kafka_broker_kerberos_keytab_path | basename}}" \
  principal="{{kafka_broker_kerberos_principal}}";
{% endif %}
{% if listener_sasl_protocol== 'SCRAM-SHA-256' %}
listener.name.{{listener_name|lower}}.sasl.enabled.mechanisms=SCRAM-SHA-256
listener.name.{{listener_name|lower}}.scram-sha-256.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_users.admin.principal}}" password="{{sasl_scram_users.admin.password}}";
{% endif %}
