# Maintained by Ansible
zookeeper.connect={% for host in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{zookeeper.properties.clientPort}}{% endfor %}

log.dirs={% for logdir in kafka_broker.datadir %}{% if loop.index > 1%},{% endif %}{{ logdir }}{% endfor %}

broker.id={{ broker_id | default(groups.kafka_broker.index(inventory_hostname) + 1)}}

{% for key, value in kafka_broker.properties.items() %}
{{key}}={{value}}
{% endfor %}

listeners={% for listener in kafka_broker_listeners|dict2items %}{% if loop.index > 1%},{% endif %}{{ listener['value']['name'] }}://{{ listener['value']['hostname'] | default('') }}:{{ listener['value']['port'] }}{% endfor %}

listener.security.protocol.map={% for listener in kafka_broker_listeners|dict2items %}{% if loop.index > 1%},{% endif %}{{ listener['value']['name'] }}:{{ listener['value']['sasl_protocol'] | kafka_protocol(listener['value']['ssl_enabled'])}}{% endfor %}


## Inter Broker Listener Configuration
inter.broker.listener.name={{kafka_broker_listeners[kafka_broker_inter_broker_listener_name]['name']}}
{% if kafka_broker_listeners[kafka_broker_inter_broker_listener_name]['sasl_protocol'] | normalize_sasl_protocol != 'none' %}
sasl.mechanism.inter.broker.protocol={{kafka_broker_listeners[kafka_broker_inter_broker_listener_name]['sasl_protocol'] | normalize_sasl_protocol}}
{% endif %}
{% if kafka_broker_sasl_enabled_mechanisms|length > 0 %}
sasl.enabled.mechanisms={% for mechanism in kafka_broker_sasl_enabled_mechanisms %}{% if loop.index > 1%},{% endif %}{{ mechanism|upper }}{% endfor %}

{% endif %}
{% if 'GSSAPI' in kafka_broker_sasl_enabled_mechanisms %}
sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
{% endif %}

{% for listener in kafka_broker_listeners|dict2items %}
{% set listener_name = listener['value']['name'] %}
{% set listener_ssl_enabled = listener['value']['ssl_enabled'] %}
{% set listener_ssl_mutual_auth_enabled = listener['value']['ssl_mutual_auth_enabled'] %}
{% set listener_sasl_protocol = listener['value']['sasl_protocol'] | normalize_sasl_protocol %}
{% include 'listener.j2' %}

{% endfor %}
## Metrics Reporter Configuration
confluent.metrics.reporter.security.protocol={{kafka_broker_listeners.external.sasl_protocol | kafka_protocol(kafka_broker_listeners.external.ssl_enabled)}}
{% if kafka_broker_listeners.external.ssl_enabled|bool %}
confluent.metrics.reporter.ssl.truststore.location={{truststore_path}}
confluent.metrics.reporter.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_listeners.external.ssl_mutual_auth_enabled|bool %}
confluent.metrics.reporter.ssl.keystore.location={{keystore_path}}
confluent.metrics.reporter.ssl.keystore.password={{keystore_storepass}}
confluent.metrics.reporter.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if kafka_broker_listeners.external.sasl_protocol | normalize_sasl_protocol == 'PLAIN' %}
confluent.metrics.reporter.sasl.mechanism=PLAIN
confluent.metrics.reporter.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
   username="{{sasl_plain_users.admin.principal}}" password="{{sasl_plain_users.admin.password}}";
{% endif %}
{% if kafka_broker_listeners.external.sasl_protocol | normalize_sasl_protocol == 'GSSAPI' %}
confluent.metrics.reporter.sasl.mechanism=GSSAPI
confluent.metrics.reporter.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
confluent.metrics.reporter.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_broker_kerberos_keytab_path | basename}}" \
   principal="{{kafka_broker_kerberos_principal}}";
{% endif %}
{% if kafka_broker_listeners.external.sasl_protocol | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
confluent.metrics.reporter.sasl.mechanism=SCRAM-SHA-256
confluent.metrics.reporter.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_users.admin.principal}}" password="{{sasl_scram_users.admin.password}}";
{% endif %}
