# Maintained by Ansible

{% include './includes/base_server.properties.j2' %}

sasl.enabled.mechanisms=GSSAPI
sasl.mechanism.inter.broker.protocol=GSSAPI
listeners=SASL_PLAINTEXT://{{inventory_hostname}}:{{kafka_port}}
advertised.listeners=SASL_PLAINTEXT://{{inventory_hostname}}:{{kafka_port}}
security.inter.broker.protocol=SASL_PLAINTEXT
sasl.kerberos.service.name=kafka

zookeeper.set.acl=false

# Confluent Support
{% include './includes/confluent_support.j2' %}

confluent.metrics.reporter.sasl.mechanism=GSSAPI
confluent.metrics.reporter.security.protocol=SASL_PLAINTEXT
confluent.metrics.reporter.sasl.kerberos.service.name=kafka
confluent.metrics.reporter.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/client-{{inventory_hostname}}.keytab" \
   principal="client/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
