support_bundle_info:
  bundle_name: {{ hostvars['localhost']['bundle_name'] }}
  timestamp: {{ hostvars['localhost']['bundle_timestamp'] }}
  cluster_name: {{ support_bundle_cluster_name }}
  output_path: {{ support_bundle_output_path }}
  directory_structure: "<component_name>/<hostname>/"

ansible_controller:
  ansible_version: {{ ansible_version.full }}
  python_version: {{ ansible_python.version.major }}.{{ ansible_python.version.minor }}.{{ ansible_python.version.micro }}
  playbook: support_bundle.yml
  timestamp: {{ ansible_date_time.iso8601 }}

target_nodes_summary:
{% for host in groups['all'] %}
  {{ host }}:
    ansible_version: {{ hostvars[host].ansible_version.full | default('N/A') }}
    python_version: {{ hostvars[host].ansible_python_version | default('N/A') }}
    os_family: {{ hostvars[host].ansible_os_family | default('N/A') }}
    distribution: {{ hostvars[host].ansible_distribution | default('N/A') }} {{ hostvars[host].ansible_distribution_version | default('') }}
    kernel: {{ hostvars[host].ansible_kernel | default('N/A') }}
    architecture: {{ hostvars[host].ansible_architecture | default('N/A') }}
{% endfor %}

inventory_summary:
  total_hosts: {{ groups['all'] | length }}
  components:
    zookeeper:
      count: {{ groups['zookeeper'] | default([]) | length }}
      hosts: {{ groups['zookeeper'] | default([]) | list }}
    kafka_controller:
      count: {{ groups['kafka_controller'] | default([]) | length }}
      hosts: {{ groups['kafka_controller'] | default([]) | list }}
    kafka_broker:
      count: {{ groups['kafka_broker'] | default([]) | length }}
      hosts: {{ groups['kafka_broker'] | default([]) | list }}
    schema_registry:
      count: {{ groups['schema_registry'] | default([]) | length }}
      hosts: {{ groups['schema_registry'] | default([]) | list }}
    kafka_connect:
      count: {{ groups['kafka_connect'] | default([]) | length }}
      hosts: {{ groups['kafka_connect'] | default([]) | list }}
    kafka_connect_replicator:
      count: {{ groups['kafka_connect_replicator'] | default([]) | length }}
      hosts: {{ groups['kafka_connect_replicator'] | default([]) | list }}
    ksql:
      count: {{ groups['ksql'] | default([]) | length }}
      hosts: {{ groups['ksql'] | default([]) | list }}
    kafka_rest:
      count: {{ groups['kafka_rest'] | default([]) | length }}
      hosts: {{ groups['kafka_rest'] | default([]) | list }}
    control_center:
      count: {{ groups['control_center'] | default([]) | length }}
      hosts: {{ groups['control_center'] | default([]) | list }}
    control_center_next_gen:
      count: {{ groups['control_center_next_gen'] | default([]) | length }}
      hosts: {{ groups['control_center_next_gen'] | default([]) | list }}
    usm_agent:
      count: {{ groups['usm_agent'] | default([]) | length }}
      hosts: {{ groups['usm_agent'] | default([]) | list }}

collection_settings:
  journalctl_lines: {{ support_bundle_journalctl_lines }}
  base_path: {{ support_bundle_base_path }}
  sanitize_configs: {{ support_bundle_sanitize_configs }}
  skip_configs: {{ support_bundle_skip_configs }}
