# Maintained by Ansible
{% for name, repo in confluent_yum_repositories.items() %}
[{{ name }}]
async = 1
baseurl = {{ repo.baseurl }}
enabled = {{ repo.enabled | int }}
gpgcheck = {{ repo.gpgcheck | int }}
gpgkey = {{ repo.gpgkey }}
name = {{ repo.description }}
{% if 'https_proxy' in env_vars %}
proxy = {{ env_vars.https_proxy }}
{% elif 'http_proxy' in env_vars %}
proxy = {{ env_vars.http_proxy }}
{% endif %}
{% endfor %}
