collection_info:
  timestamp: {{ ansible_date_time.iso8601 }}
  hostname: {{ inventory_hostname }}
  component: {{ component_name }}
  service_name: {{ service_name }}

host_info:
  os_family: {{ ansible_os_family }}
  distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}
  kernel: {{ ansible_kernel }}
  architecture: {{ ansible_architecture }}
  memory_mb: {{ ansible_memtotal_mb }}

ansible_info:
  ansible_version: {{ ansible_version.full }}
  python_version: {{ ansible_python_version }}

component_info:
  config_file: {{ config_file }}
  log_dir: {{ log_dir }}
  user: {{ user }}
  group: {{ group }}
  service_file: {{ component.systemd_file | default('N/A') }}

collection_scope:
  configs_collected: {{ not support_bundle_skip_configs }}
  configs_sanitized: {{ support_bundle_sanitize_configs and not support_bundle_skip_configs }}
  logs_collected: true
  system_info_collected: false
  diagnostics_collected: true
