# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

{% for key, value in kafkarest.config.items() %}
{{key}}={{value}}
{% endfor %}
