# Maintained by Ansible
zookeeper.connect={% for host in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{zookeeper.config.clientPort}}{% endfor %}

schema.registry.url={% for host in groups['kafka-rest'] %}{% if loop.index > 1%},http://{% endif %}{{ host }}:8081/{% endfor %}

{% for key, value in kafka.rest.config.items() %}
{{key}}={{value}}
{% endfor %}