# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

#SSL additions
client.ssl.truststore.location=/var/ssl/private/client.truststore.jks
client.ssl.truststore.password=confluent
client.ssl.keystore.location=/var/ssl/private/client.keystore.jks
client.ssl.keystore.password=confluent
client.ssl.key.password=confluent
client.security.protocol=SSL

{% for key, value in kafkarest.config.items() %}
{{key}}={{value}}
{% endfor %}
