[Unit]
Description=Schema Registry by Confluent
Wants=basic.target
After=basic.target network-online.target
Documentation=https://docs.confluent.io/current/

[Service]
Type=simple
User={{ kafka.rest.user }}
ExecStart=/usr/bin/kafka-rest-start {{ kafka.rest.config_file }}
KillMode       = process
RestartSec     = {{ kafka.rest.systemd.RestartSec}}
TimeoutStopSec = {{ kafka.rest.systemd.TimeoutStopSec}}
Type           = simple
LimitNOFILE    = {{ kafka.rest.systemd.LimitNOFILE}}

{% for key, value in kafka.rest.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
