[Unit]
Description=Apache Kafka Connect Distributed by Confluent
Wants=basic.target
After=basic.target network-online.target
Documentation=https://docs.confluent.io/current/

[Service]
Type=simple
User={{ kafka.connect.user }}
ExecStart=/bin/connect-distributed {{ kafka.connect.distributed.config_file }}
KillMode       = process
RestartSec     = {{ kafka.connect.distributed.systemd.RestartSec}}
TimeoutStopSec = {{ kafka.connect.distributed.systemd.TimeoutStopSec}}
Type           = simple
LimitNOFILE    = {{ kafka.connect.distributed.systemd.LimitNOFILE}}

{% for key, value in kafka.connect.distributed.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
