# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

value.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

key.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

#SSL additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
security.protocol=SSL
producer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.ssl.truststore.password=confluent
producer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.ssl.keystore.password=confluent
producer.ssl.key.password=confluent
producer.security.protocol=SSL
consumer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.ssl.truststore.password=confluent
consumer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.ssl.keystore.password=confluent
consumer.ssl.key.password=confluent
consumer.security.protocol=SSL
producer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.confluent.monitoring.interceptor.ssl.truststore.password=confluent
producer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password=confluent
producer.confluent.monitoring.interceptor.ssl.key.password=confluent
producer.confluent.monitoring.interceptor.security.protocol=SSL
consumer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.confluent.monitoring.interceptor.ssl.truststore.password=confluent
consumer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password=confluent
consumer.confluent.monitoring.interceptor.ssl.key.password=confluent
consumer.confluent.monitoring.interceptor.security.protocol=SSL

{% for key, value in kafka.connect.distributed.config.items() %}
{{key}}={{value}}
{% endfor %}
