# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

value.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

key.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

{% for key, value in kafka.connect.distributed.config.items() %}
{{key}}={{value}}
{% endfor %}
