# Maintained by Ansible
bootstrap.servers={% for server in hosts.kafka.brokers %}{{ hostvars[server].ansible_fqdn }}:{{ broker.config.port }}{{ '' if loop.last else ',' }}{% endfor %}


{% if security_mode in ['sasl_ssl', 'ssl'] %}
#SSL common additions
client.ssl.truststore.location=/var/ssl/private/client.truststore.jks
client.ssl.truststore.password=confluent
client.ssl.keystore.location=/var/ssl/private/client.keystore.jks
client.ssl.keystore.password=confluent
client.ssl.key.password=confluent
{% endif %}

{% if security_mode == 'sasl_ssl' %}
#SASL additions
client.security.protocol=SASL_SSL
client.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
client.sasl.mechanism=PLAIN
{% endif %}

{% if security_mode == 'ssl' %}
#SSL additions
client.security.protocol=SSL
{% endif %}

{% for key, value in kafkarest.config.items() %}
{{ key}}={{value }}
{% endfor %}
