bootstrap.servers={% for host in groups['kafka'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

{% for key, value in kafka_rest.config.items() %}
{{key}}={{value}}
{% endfor %}
