bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

{% for key, value in kafka_rest.properties.items() %}
{{key}}={{value}}
{% endfor %}
