---
- name: Create Kafka Controller Config
  template:
    src: server.properties.j2
    dest: "{{kafka_controller.config_file}}"
    mode: 0640
    owner: "{{kafka_controller_user}}"
    group: "{{kafka_controller_group}}"
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration

- name: restart Kafka Controller
  include_tasks: tasks/restart_and_wait.yml
