---
- name: Check if Data Directories are Formatted
  shell: "{{ binary_base_path }}/bin/kafka-storage info -c {{ kafka_controller.config_file }}"
  ignore_errors: true
  failed_when: false
  register: formatted

- name: Get ClusterId
  shell: "{{ binary_base_path }}/bin/kafka-storage random-uuid"
  environment:
    KAFKA_OPTS: "-Xlog:all=error -XX:+IgnoreUnrecognizedVMOptions"
  register: uuid_key
  run_once: true
  when: not kraft_migration|bool

- name: Extract ClusterId from meta.properties on ZK Broker
  slurp:
    src: "{{ kafka_broker_final_properties['log.dirs'].split(',')[0] }}/meta.properties"
  delegate_to: "{{ groups.kafka_broker[0] }}"
  register: zoo_cluster
  when: kraft_migration|bool

- name: Format Data Directory and Add Scram Credentials
  shell: |
    {{ binary_base_path }}/bin/kafka-storage format \
    -t={{ clusterid }} -c {{ kafka_controller.config_file }} \
    {% if use_dynamic_quorum and kraft_controller_dynamic_mode != 'none' %} \
    {% if kraft_controller_dynamic_mode == 'standalone' %} \
    --standalone \
    {% elif kraft_controller_dynamic_mode == 'initial' %} \
    --initial-controllers \
    {% elif kraft_controller_dynamic_mode == 'no_initial' %} \
    --no-initial-controllers \
    {% endif %} \
    {% endif %} \
    {% if 'SCRAM-SHA-512' in kafka_sasl_enabled_mechanisms %}--add-scram 'SCRAM-SHA-512=[name={{ sasl_scram_users_final.admin.principal }},password={{ sasl_scram_users_final.admin.password }}]' {% endif %} \
    {% if 'SCRAM-SHA-256' in kafka_sasl_enabled_mechanisms %}--add-scram 'SCRAM-SHA-256=[name={{ sasl_scram256_users_final.admin.principal }},password={{ sasl_scram256_users_final.admin.password }}]' {% endif %} \
    --ignore-formatted
  register: format_meta
  vars:
    clusterid: "{{ (zoo_cluster['content'] | b64decode).partition('cluster.id=')[2].partition('\n')[0] if kraft_migration|bool else uuid_key.stdout }}"
  when: formatted.rc == 1
