{#{% if zookeeper_id in hostvars[inventory_hostname] %}{{ hostvars[inventory_hostname].zookeeper_id }}{% else %}#}
{#{% for host in groups['zookeeper'] %}#}
{#{% if host == inventory_hostname %}#}
{#{{ loop.index }}#}
{#{% endif %}#}
{#{% endfor %}#}
{#{% endif %}#}
{% for host in groups['zookeeper'] %}
{% if host == inventory_hostname %}
{{ hostvars[inventory_hostname].zookeeper_id|default(loop.index) }}
{% endif %}
{% endfor %}
