# Maintained by Ansible
{% for key, value in zookeeper.config.items() %}
{{key}}={{value}}
{% endfor %}
{% for server in zookeepers | sort %}
server.{{ hostvars[server].zookeeper_id | default(loop.index) }}={{ hostvars[server].ansible_nodename }}:{{ zookeeper.serverPort }}:{{ zookeeper.electionPort }}
{% endfor %}
