# Maintained by Ansible
{% for key, value in zookeeper.config.items() %}
    {{key}}={{value}}
{% endfor %}
# if using zookeeper_id
{% if hostvars[inventory_hostname].zookeeper_id  %}
{% for server in hosts.zookeepers | sort %}
    server.{{ hostvars[server].zookeeper_id }}={{ hostvars[server].ansible_nodename }}:{{ zookeeper.config.serverPort }}:{{ zookeeper.config.electionPort }}
{% endfor %}
{% else %}
# we are using index
{% for host in hosts.zookeepers %}
    server.{{ loop.index }}={{ host }}:{{ zookeeper.config.serverPort }}:{{ zookeeper.config.electionPort }}
{% endfor %}
{% endif %}
