[Unit]
Description=Apache Kafka Connect - distributed
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
{% if kafka_connect_user != '' %}
User={{ kafka_connect_user }}
{% endif %}
{% if kafka_connect_group != '' %}
Group={{ kafka_connect_group }}
{% endif %}
ExecStart={{ kafka_connect.server_start_file }} {{ kafka_connect.config_file }}
TimeoutStopSec=180
Restart=no

[Install]