# Maintained by Ansible
{% include './includes/base_connect-distributed.properties.j2' %}

sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
security.protocol=SASL_PLAINTEXT

#SASL additions
producer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
producer.confluent.monitoring.interceptor.security.protocol=SASL_PLAINTEXT
producer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka
producer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

consumer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
consumer.confluent.monitoring.interceptor.security.protocol=SASL_PLAINTEXT
consumer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka
consumer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";


sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";


producer.sasl.mechanism=GSSAPI
producer.sasl.kerberos.service.name=kafka
# Configure SASL_SSL if SSL encryption is enabled, otherwise configure SASL_PLAINTEXT
producer.security.protocol=SASL_PLAINTEXT
producer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

consumer.sasl.mechanism=GSSAPI
consumer.sasl.kerberos.service.name=kafka
# Configure SASL_SSL if SSL encryption is enabled, otherwise configure SASL_PLAINTEXT
consumer.security.protocol=SASL_PLAINTEXT
consumer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
