# Maintained by Ansible
{% include './includes/base_connect-distributed.properties.j2' %}

#SSL additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password={{host_truststore_storepass}}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{host_keystore_storepass}}
ssl.key.password={{host_cert_password}}
security.protocol=SSL
producer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.ssl.truststore.password={{host_truststore_storepass}}
producer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.ssl.keystore.password={{host_keystore_storepass}}
producer.ssl.key.password={{host_cert_password}}
producer.security.protocol=SSL
consumer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.ssl.truststore.password={{host_truststore_storepass}}
consumer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.ssl.keystore.password={{host_keystore_storepass}}
consumer.ssl.key.password={{host_cert_password}}
consumer.security.protocol=SSL
producer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.confluent.monitoring.interceptor.ssl.truststore.password={{host_truststore_storepass}}
producer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password={{host_keystore_storepass}}
producer.confluent.monitoring.interceptor.ssl.key.password={{host_cert_password}}
producer.confluent.monitoring.interceptor.security.protocol=SSL
consumer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.confluent.monitoring.interceptor.ssl.truststore.password={{host_truststore_storepass}}
consumer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{host_keystore_storepass}}
consumer.confluent.monitoring.interceptor.ssl.key.password={{host_cert_password}}
consumer.confluent.monitoring.interceptor.security.protocol=SSL
