# Maintained by Ansible
{% include './includes/base_connect-distributed.properties.j2' %}

sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
security.protocol=SASL_SSL

#SASL additions
producer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
producer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
producer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka
producer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

consumer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
consumer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
consumer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka
consumer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";


sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";


producer.sasl.mechanism=GSSAPI
producer.sasl.kerberos.service.name=kafka
# Configure SASL_SSL if SSL encryption is enabled, otherwise configure SASL_PLAINTEXT
producer.security.protocol=SASL_SSL
producer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

consumer.sasl.mechanism=GSSAPI
consumer.sasl.kerberos.service.name=kafka
# Configure SASL_SSL if SSL encryption is enabled, otherwise configure SASL_PLAINTEXT
consumer.security.protocol=SASL_SSL
consumer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/cp-connect-{{inventory_hostname}}.keytab" \
   principal="cp-connect/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

#SSL additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password={{host_truststore_storepass}}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{host_keystore_storepass}}
ssl.key.password={{host_cert_password}}
security.protocol=SASL_SSL
producer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.ssl.truststore.password={{host_truststore_storepass}}
producer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.ssl.keystore.password={{host_keystore_storepass}}
producer.ssl.key.password={{host_cert_password}}
producer.security.protocol=SASL_SSL
consumer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.ssl.truststore.password={{host_truststore_storepass}}
consumer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.ssl.keystore.password={{host_keystore_storepass}}
consumer.ssl.key.password={{host_cert_password}}
consumer.security.protocol=SASL_SSL
producer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
producer.confluent.monitoring.interceptor.ssl.truststore.password={{host_truststore_storepass}}
producer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password={{host_keystore_storepass}}
producer.confluent.monitoring.interceptor.ssl.key.password={{host_cert_password}}
producer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
consumer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
consumer.confluent.monitoring.interceptor.ssl.truststore.password={{host_truststore_storepass}}
consumer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{host_keystore_storepass}}
consumer.confluent.monitoring.interceptor.ssl.key.password={{host_cert_password}}
consumer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
