port={{kafka_connect_jolokia_port}}
host=0.0.0.0
{% if kafka_connect_jolokia_ssl_enabled|bool %}
keystore={{kafka_connect_keystore_path}}
keystorePassword={{kafka_connect_keystore_storepass}}
protocol=https
sslProtocol=TLSv1.2
{% endif %}
{% if kafka_connect_jolokia_auth_mode == 'basic' %}
authMode=basic
user={{kafka_connect_jolokia_user}}
password={{kafka_connect_jolokia_password}}
{% endif %}
