# Maintained by Ansible
{% for name, repo in confluent_yum_repositories.items() %}
[{{ name }}]
async = 1
baseurl = {{ repo.baseurl }}
enabled = {{ repo.enabled | int }}
gpgcheck = {{ repo.gpgcheck | int }}
gpgkey = {{ repo.gpgkey }}
name = {{ repo.description }}
{% if 'http_proxy' in proxy_env %}
proxy = {{ proxy_env.http_proxy }}
{% endif %}
{% endfor %}
