---
- name: Deploy connectors
  confluent.platform.kafka_connectors:
    connect_url: "{{ connect_url_input }}"
    active_connectors: "{{ active_connectors_input }}"
    timeout: 20
  ignore_errors: true
  register: json_output

- debug:
    msg: "{{json_output.message}}"

- name: Assert response
  assert:
    that:
      - active_connectors_input == [] or json_output.message == "{{expected_message}}"
    fail_msg: "Incorrect error handling while deploying connectors {{ active_connectors_input }}"
