[Unit]
Description=Streaming SQL engine for Apache Kafka
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target confluent-schema-registry.target

[Service]
Type=simple
{% if ksql_user != '' %}
User={{ ksql_user }}
{% endif %}
{% if ksql_group != '' %}
Group={{ ksql_group }}
{% endif %}
Environment="LOG_DIR={{ksql.appender_log_path}}"
ExecStart={{ ksql.server_start_file }} {{ ksql.config_file }}
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target