[Service]
{% for key, value in ksql.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}
{% if security_mode in ["kerberos", "kerberos_ssl", "kerberos_ssl_customcerts"] %}
{% for key, value in ksql.kerberosEnvironment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}
{% endif %}
