# Maintained by Ansible
{% include './includes/base_ksql.properties.j2' %}

#SSL additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password={{host_truststore_storepass}}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{host_keystore_storepass}}
ssl.key.password={{host_cert_password}}
security.protocol=SSL
confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.monitoring.interceptor.ssl.truststore.password={{host_truststore_storepass}}
confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.monitoring.interceptor.ssl.keystore.password={{host_keystore_storepass}}
confluent.monitoring.interceptor.ssl.key.password={{host_cert_password}}
confluent.monitoring.interceptor.security.protocol=SSL
