{{config_prefix}}security.protocol={{listener | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if listener['ssl_enabled'] | default(ssl_enabled) | bool %}
{{config_prefix}}log4j.appender.kafka_appender.SslTruststoreLocation={{truststore_path}}
{{config_prefix}}log4j.appender.kafka_appender.SslTruststorePassword={{truststore_storepass}}
{% if listener['ssl_mutual_auth_enabled'] | default(ssl_mutual_auth_enabled) | bool %}
{{config_prefix}}log4j.appender.kafka_appender.SslKeystoreLocation={{keystore_path}}
{{config_prefix}}log4j.appender.kafka_appender.SslKeystorePassword={{keystore_storepass}}
{{config_prefix}}log4j.appender.kafka_appender.SslKeyPassword={{keystore_keypass}}
{% if listener['pkcs12_enabled'] | default(pkcs12_enabled) | bool %}
{{config_prefix}}log4j.appender.kafka_appender.SslkeymanagerAlgorithm=PKIX
{{config_prefix}}log4j.appender.kafka_appender.SslTrustmanagerAlgorithm=PKIX
{{config_prefix}}log4j.appender.kafka_appender.SslKeystoreType=pkcs12
{{config_prefix}}log4j.appender.kafka_appender.SslTruststoreType=pkcs12
{% endif %}
{% endif %}
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'PLAIN' %}
{{config_prefix}}sasl.mechanism=PLAIN
{{config_prefix}}sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
   username="{{sasl_plain_username}}" password="{{sasl_plain_password}}";
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
{{config_prefix}}sasl.mechanism=SCRAM-SHA-256
{{config_prefix}}sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_username}}" password="{{sasl_scram_password}}";
{% endif %}
{% if listener['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'GSSAPI' %}
{{config_prefix}}sasl.mechanism=GSSAPI
{{config_prefix}}sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
{{config_prefix}}sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true storeKey=true keyTab="{{kerberos.keytab_dir}}/{{kerberos_keytab_path | basename}}" \
   principal="{{kerberos_principal}}";
{% endif %}
