KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{ksql.keytab}}/client-{{inventory_hostname}}.keytab"
    principal="client/{{inventory_hostname}}@{{realm|upper()}}";
};