# Maintained by Ansible
bootstrap.servers={{ confluent.cloud.broker.endpoint }}

security.protocol=SASL_SSL
producer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
consumer.confluent.monitoring.interceptor.security.protocol=SASL_SSL

ssl.endpoint.identification.algorithm=https
producer.ssl.endpoint.identification.algorithm=https
consumer.ssl.endpoint.identification.algorithm=https

request.timeout.ms=20000
retry.backoff.ms=500
producer.request.timeout.ms=20000
producer.retry.backoff.ms=500
consumer.request.timeout.ms=20000
consumer.retry.backoff.ms=500

sasl.mechanism=PLAIN
producer.sasl.mechanism=PLAIN
consumer.sasl.mechanism=PLAIN

#SASL additions
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";
producer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";
consumer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";

{% for key, value in ksql.config.items() %}
{{key}}={{value}}
{% endfor %}
