[Unit]
Description=Confluent Control Center
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
{% if control_center_user != '' %}
User={{ control_center_user }}
{% endif %}
{% if control_center_group != '' %}
Group={{ control_center_group }}
{% endif %}
Environment="LOG_DIR={{control_center.appender_log_path}}" "CONTROL_CENTER_LOG4J_OPTS=-Dlog4j.configuration=file:{{ config_base_path }}/etc/confluent-control-center/log4j-rolling.properties"
ExecStart={{ control_center.server_start_file }} {{ control_center.config_file }}
TimeoutStopSec=180
Restart=always
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target