# Control Center Configuration
confluent.controlcenter.rest.listeners={{control_center_http_protocol}}://{{control_center_listener_hostname}}:{{control_center_port}}
{% if control_center_ssl_enabled|bool %}
confluent.controlcenter.rest.ssl.keystore.location={{control_center_keystore_path}}
confluent.controlcenter.rest.ssl.keystore.password={{control_center_keystore_storepass}}
confluent.controlcenter.rest.ssl.key.password={{control_center_keystore_keypass}}
{% if control_center_ssl_mutual_auth_enabled|bool %}
confluent.controlcenter.rest.ssl.truststore.location={{control_center_truststore_path}}
confluent.controlcenter.rest.ssl.truststore.password={{control_center_truststore_storepass}}
{% endif %}
{% endif %}

{% set cfg = control_center.properties %}
{% for key, value in cfg.items() %}
{{key}}={{value}}
{% endfor %}

# Kafka Brokers
bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_broker_listeners[control_center_kafka_listener_name]['port']}}{% endfor %}

confluent.controlcenter.streams.security.protocol={{kafka_broker_listeners[control_center_kafka_listener_name] | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if kafka_broker_listeners[control_center_kafka_listener_name]['ssl_enabled'] | default(ssl_enabled) | bool %}
confluent.controlcenter.streams.ssl.truststore.location={{control_center_truststore_path}}
confluent.controlcenter.streams.ssl.truststore.password={{control_center_truststore_storepass}}
{% if kafka_broker_listeners[control_center_kafka_listener_name]['ssl_mutual_auth_enabled'] | default(ssl_mutual_auth_enabled) | bool %}
confluent.controlcenter.streams.ssl.keystore.location={{control_center_keystore_path}}
confluent.controlcenter.streams.ssl.keystore.password={{control_center_keystore_storepass}}
confluent.controlcenter.streams.ssl.key.password={{control_center_keystore_keypass}}
{% endif %}
{% endif %}
{% if kafka_broker_listeners[control_center_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'PLAIN' %}
confluent.controlcenter.streams.sasl.mechanism=PLAIN
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
   username="{{sasl_plain_users.control_center.principal}}" password="{{sasl_plain_users.control_center.password}}";
{% endif %}
{% if kafka_broker_listeners[control_center_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'GSSAPI' %}
confluent.controlcenter.streams.sasl.mechanism=GSSAPI
confluent.controlcenter.streams.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
confluent.controlcenter.streams.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{control_center_kerberos_keytab_path | basename}}" \
   principal="{{control_center_kerberos_principal}}";
{% endif %}
{% if kafka_broker_listeners[control_center_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
confluent.controlcenter.streams.sasl.mechanism=SCRAM-SHA-256
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_users.control_center.principal}}" password="{{sasl_scram_users.control_center.password}}";
{% endif %}

{% set schema_registries = groups.get('schema_registry', []) %}
{% if schema_registries %}
# Schema Registry Configuration
confluent.controlcenter.schema.registry.url={% for host in groups['schema_registry'] %}{% if loop.index > 1%},{% endif %}{{ schema_registry_http_protocol }}://{{ host }}:{{ schema_registry_listener_port }}{% endfor %}

{% if schema_registry_ssl_enabled|bool %}
confluent.controlcenter.schema.registry.ssl.truststore.location={{control_center_truststore_path}}
confluent.controlcenter.schema.registry.ssl.truststore.password={{control_center_truststore_storepass}}
confluent.controlcenter.schema.registry.ssl.keystore.location={{control_center_keystore_path}}
confluent.controlcenter.schema.registry.ssl.keystore.password={{control_center_keystore_storepass}}
confluent.controlcenter.schema.registry.ssl.key.password={{control_center_keystore_keypass}}
{% endif %}
{% endif %}

{% set connect_servers = groups.get('kafka_connect', []) %}
{% if connect_servers %}
# Kafka Connect Configuration
{% if kafka_connect_cluster_ansible_group_names is defined %}
{% for ansible_group in kafka_connect_cluster_ansible_group_names %}
{% for host in groups[ansible_group] %}{% if loop.index == 1%}confluent.controlcenter.connect.{{ hostvars[host]['kafka_connect_group_id'] }}.cluster={% endif %}{% if loop.index > 1%},{% endif %}{{ kafka_connect_http_protocol }}://{{ host }}:{{ kafka_connect_rest_port }}{% endfor %}

{% endfor %}
{% else %}
confluent.controlcenter.connect.default.cluster={% for host in groups['kafka_connect'] %}{% if loop.index > 1%},{% endif %}{{ kafka_connect_http_protocol }}://{{ host }}:{{ kafka_connect_rest_port }}{% endfor %}

{% endif %}
{% endif %}

{% set ksql_servers = groups.get('ksql', []) %}
{% if ksql_servers and cfg.get('confluent.controlcenter.ksql.enable', 'false').lower() == 'true' %}
# KSQL Configuration
{% if ksql_cluster_ansible_group_names is defined %}
{% for ansible_group in ksql_cluster_ansible_group_names %}
{% for host in groups[ansible_group] %}{% if loop.index == 1%}confluent.controlcenter.ksql.{{ ansible_group }}.url={% endif %}{% if loop.index > 1%},{% endif %}{{ ksql_http_protocol }}://{{ host }}:{{ ksql_listener_port }}{% endfor %}

{% endfor %}
{% else %}
confluent.controlcenter.ksql.default.url={% for host in groups['ksql'] %}{% if loop.index > 1%},{% endif %}{{ ksql_http_protocol }}://{{ host }}:{{ ksql_listener_port }}{% endfor %}

{% endif %}
{% endif %}
