# Maintained by Ansible
{% include './includes/base_control-center.properties.j2' %}

confluent.controlcenter.streams.sasl.mechanism=GSSAPI
confluent.controlcenter.streams.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.streams.sasl.kerberos.service.name=kafka


confluent.controlcenter.streams.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/controlcenter-{{inventory_hostname}}.keytab" \
   principal="controlcenter/{{inventory_hostname}}@{{kerberos.realm|upper()}}";
