# Maintained by Ansible
{# schema_registry_final_properties defined in confluent.variables #}
{% for key, value in confluent_replicator_monitoring_interceptor_final_properties|dictsort %}
{{key}}={{value}}
{% endfor %}