[Unit]
Description=Confluent Kafka Replicator
Documentation=http://docs.confluent.io/
After=network.target confluent-server.target

[Service]
Type=simple
User=cp-kafka-connect
Group=confluent
ExecStart=/bin/replicator --consumer.config /etc/kafka-connect-replicator/confluent-replicator-consumer.properties --producer.config /etc/kafka-connect-replicator/confluent-replicator-producer.properties --cluster.id replicator --replication.config /etc/kafka-connect-replicator/confluent-replicator.properties --consumer.monitoring.config=/etc/kafka-connect-replicator/confluent-replicator-interceptors.properties --producer.monitoring.config=/etc/kafka-connect-replicator/confluent-replicator-interceptors.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target