[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
CN = {{service_name}}
[v3_req]
extendedKeyUsage = serverAuth , clientAuth
subjectAltName = @alt_names
[alt_names]
{% for i in range(0,hostnames | length) %}DNS.{{i}} = {{ hostnames[i] }}
{% endfor %}
