# Maintained by Ansible
bootstrap.servers={% for server in hosts.kafka.brokers %}{{ hostvars[server].ansible_fqdn }}:{{ broker.config.port }}{{ '' if loop.last else ',' }}{% endfor %}

{% if security_mode in ['sasl_ssl', 'ssl'] %}
#SSL Common additions
confluent.controlcenter.streams.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.controlcenter.streams.ssl.truststore.password=confluent
confluent.controlcenter.streams.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.controlcenter.streams.ssl.keystore.password=confluent
confluent.controlcenter.streams.ssl.key.password=confluent
{% endif %}
{% if security_mode == 'sasl_ssl' %}
#SASL additions
confluent.controlcenter.streams.security.protocol=SASL_SSL
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
confluent.controlcenter.streams.sasl.mechanism=PLAIN
{% endif %}
{% if security_mode == 'ssl' %}
#SSL additions
confluent.controlcenter.streams.security.protocol=SSL
{% endif %}
{% for key, value in confluent.control.center.config.items() %}
{{ key}}={{value }}
{% endfor %}
