# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

confluent.controlcenter.streams.security.protocol=SASL_SSL

#SSL additions
confluent.controlcenter.streams.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.controlcenter.streams.ssl.truststore.password=confluent
confluent.controlcenter.streams.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.controlcenter.streams.ssl.keystore.password=confluent
confluent.controlcenter.streams.ssl.key.password=confluent

#SASL additions
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
confluent.controlcenter.streams.sasl.mechanism=PLAIN

{% for key, value in confluent.control.center.config.items() %}
{{key}}={{value}}
{% endfor %}
