{{ ansible_managed | comment }}
bootstrap.servers={{ client.broker.bootstrap_servers }}
{% if client.schema.registry.enabled %}
schema.registry.url={{ client.schema.registry.urls }}
{% endif %}
{{ client_config | append_prefix(['consumer.', 'producer.']) | combine(kafkarest.config) | to_properties }}