---
- name: Ensure Plugin Dirs
  file:
    path: "{{item}}"
    state: directory
    group: "{{kafka_connect_group}}"
    owner: "{{kafka_connect_user}}"
    mode: 0755
  when: item != '/usr/share/java'
  with_items: "{{ kafka_connect_final_properties['plugin.path'].split(',') }}"

- name: Installing Local Plugins
  shell: |
    {{ (installation_method == 'archive') | ternary(archive_destination_path + '/confluent-' + confluent_package_version, '/usr') }}/bin/confluent-hub install \
      --no-prompt --component-dir {{kafka_connect_plugins_dest}} \
      {{ (installation_method == 'archive') | ternary('--worker-configs ' + kafka_connect.config_file, '') }} \
      {{ item }}
  register: install_local_plugin_result
  until: install_local_plugin_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  with_items: "{{kafka_connect_plugins}}"
  when: kafka_connect_plugins|length > 0
  notify: restart connect distributed

- name: Create tmp directory for downloading remote plugins
  file:
    path: /tmp/remote_plugins
    state: directory
    mode: 0755
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"

- name: Download Remote Plugin Zips
  get_url:
    url: "{{item}}"
    dest: /tmp/remote_plugins
    mode: 0755
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  register: download_remote_plugin_result
  until: download_remote_plugin_result is success or ansible_check_mode
  retries: 5
  delay: 90
  with_items: "{{kafka_connect_plugins_remote}}"
  when: kafka_connect_plugins_remote|length > 0

- name: Installing Remote Plugins
  shell: |
    {{ (installation_method == 'archive') | ternary(archive_destination_path + '/confluent-' + confluent_package_version, '/usr') }}/bin/confluent-hub install \
      --no-prompt --component-dir {{kafka_connect_plugins_dest}} \
      {{ (installation_method == 'archive') | ternary('--worker-configs ' + kafka_connect.config_file, '') }} \
      {{ '/tmp/remote_plugins/' + item.split('/')[-1] }}
  register: install_remote_plugin_result
  until: install_remote_plugin_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  with_items: "{{kafka_connect_plugins_remote}}"
  when: kafka_connect_plugins_remote|length > 0
  notify: restart connect distributed

- name: Set Permissions on all Plugin Files
  file:
    path: "{{ kafka_connect_plugins_dest }}"
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
    recurse: true
  when: kafka_connect_plugins_remote|length > 0 or kafka_connect_plugins|length > 0

- name: Confluent Hub
  include_tasks: confluent_hub.yml
  when: kafka_connect_confluent_hub_plugins|length > 0
