---
- include_role:
    name: common
  when: not common_role_completed|bool
  tags: common

- name: Check z/OS Preconditions
  block:
    - debug:
        msg: 'z/OS must be installed from archive'
    - meta: end_play
  when:
    - ansible_os_family == "OS/390"
    - installation_method != "archive"

- name: Gather OS Facts
  setup:
    # Only gathers items in list, filters out the rest
    filter: "{{item}}"
    gather_subset:
      - '!all'
  loop:
    - ansible_os_family
    - ansible_fqdn

- name: Stop Service and Remove Packages on Version Change
  include_role:
    name: common
    tasks_from: remove_packages.yml
  vars:
    service_name: "{{ kafka_connect_service_name }}"
  when: installation_method == "package"
  tags:
    - package
    - cp_package

- name: Install the Kafka Connect Packages
  yum:
    name: "{{ kafka_connect_packages | product([confluent_package_redhat_suffix]) | map('join') | list }}"
    state: latest
  register: install_kafka_connect_package_result
  until: install_kafka_connect_package_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  when:
    - ansible_os_family == "RedHat"
    - installation_method == "package"
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - package
    - cp_package
  notify: restart connect distributed

- name: Install the Kafka Connect Packages
  apt:
    name: "{{ kafka_connect_packages | product([confluent_package_debian_suffix]) | map('join') | list }}"
  register: install_kafka_connect_package_result
  until: install_kafka_connect_package_result is success  or ansible_check_mode
  retries: 5
  delay: 90
  when:
    - ansible_os_family == "Debian"
    - installation_method == "package"
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - package
    - cp_package
  notify: restart connect distributed

- name: Ensure Kafka Connect User and Group
  when: ansible_os_family != "OS/390"
  block:
    - name: Create Kafka Connect Group
      group:
        name: "{{kafka_connect_group}}"
      tags:
        - privileged

    - name: Check if Kafka Connect User Exists
      getent:
        database: passwd
        key: "{{kafka_connect_user}}"
      failed_when: false

    - name: Create Kafka Connect User
      user:
        name: "{{kafka_connect_user}}"
        comment: Confluent Kafka Connect
        system: true
        shell: "{{user_login_shell}}"
        group: "{{kafka_connect_group}}"
      when: (getent_passwd|default({}))[kafka_connect_user] is not defined
      tags:
        - privileged

- name: Setup Kafka Connect Service
  when: ansible_os_family != "OS/390"
  block:
  # Archive File deployments need to create SystemD service units
  # Copy the tarball's systemd service to the system
  - name: Copy Kafka Connect Service from archive file to system
    copy:
      src: "{{binary_base_path}}/lib/systemd/system/{{kafka_connect_default_service_name}}.service"
      remote_src: true
      dest: "{{kafka_connect.systemd_file}}"
      mode: 0644
      force: true
    when: installation_method == "archive"
    tags:
      - systemd
  # Non-Archive File deployments need to create SystemD service units when the user changes the service name
  - name: Copy Kafka Connect Service from default install to system
    copy:
      src: "{{systemd_base_dir}}/{{kafka_connect_default_service_name}}.service"
      remote_src: true
      dest: "{{kafka_connect.systemd_file}}"
      mode: 0644
      force: true
    when: installation_method != "archive" and kafka_connect_default_service_name != kafka_connect_service_name
  - name: Create Service Override Directory
    file:
      path: "{{kafka_connect.systemd_override | dirname}}"
      owner: "{{kafka_connect_user}}"
      group: "{{kafka_connect_group}}"
      state: directory
      mode: 0640
    tags:
      - systemd
  - name: Write Service Overrides
    template:
      src: override.conf.j2
      dest: "{{ kafka_connect.systemd_override }}"
      mode: 0640
      owner: root
      group: root
    notify: restart connect distributed
    diff: "{{ not mask_sensitive_diff|bool }}"
    tags:
      - systemd

- include_role:
    name: ssl
  vars:
    truststore_storepass: "{{kafka_connect_truststore_storepass}}"
    truststore_path: "{{kafka_connect_truststore_path}}"
    keystore_path: "{{kafka_connect_keystore_path}}"
    keystore_storepass: "{{kafka_connect_keystore_storepass}}"
    keystore_keypass: "{{kafka_connect_keystore_keypass}}"
    service_name: "{{ kafka_connect_service_name if kafka_connect_service_name != kafka_connect_default_service_name else 'kafka_connect' }}"
    user: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
    # hostnames: "{{ [inventory_hostname, ansible_fqdn, ansible_host, ansible_ssh_host|default(omit), hostname|default(omit), health_check_hostname|default(omit)] | unique }}"
    hostnames: "{{ [inventory_hostname, ansible_fqdn, ansible_host] | unique }}"
    ca_cert_path: "{{kafka_connect_ca_cert_path}}"
    cert_path: "{{kafka_connect_cert_path}}"
    key_path: "{{kafka_connect_key_path}}"
    export_certs: "{{kafka_connect_export_certs}}"
  # CCloud Kafka does not need Keystores/Truststores
  when: >
    kafka_connect_ssl_enabled|bool or
    ( kafka_broker_listeners[kafka_connect_kafka_listener_name]['ssl_enabled'] | default(ssl_enabled) | bool and not public_certificates_enabled|bool ) or
    ( mds_tls_enabled | bool and not public_certificates_enabled|bool ) or
    ( 'schema_registry' in groups and schema_registry_ssl_enabled|bool )
  tags: ssl

- name: Configure Kerberos
  include_role:
    name: kerberos
  vars:
    kerberos_group: "{{kafka_connect_group}}"
    kerberos_user: "{{kafka_connect_user}}"
    kerberos_keytab_path: "{{kafka_connect_kerberos_keytab_path}}"
    kerberos_keytab_destination_path: "{{kafka_connect_keytab_path}}"
    kerberos_handler: "restart connect distributed"
  when: kafka_broker_listeners[kafka_connect_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | confluent.platform.normalize_sasl_protocol == 'GSSAPI'

# # TODO: copy_files.yml has to be modified to conditionally invoke zos_copy if using z/OS
# - name: Copy Kafka Connect Files
#   include_role:
#     name: common
#     tasks_from: copy_files.yml
#   vars:
#     copy_files: "{{kafka_connect_copy_files}}"
#     user: "{{kafka_connect_user}}"
#     group: "{{kafka_connect_group}}"
#   when: kafka_connect_copy_files | length > 0
#   tags:
#     - configuration

- name: Configure RBAC
  include_tasks: rbac.yml
  when: rbac_enabled|bool

- name: Create Kafka Connect Config directory
  file:
    path: "{{ kafka_connect.config_file | dirname }}"
    state: directory
    mode: 0750
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  tags:
    - filesystem

# TODO: template works but needs encoding conversion
#       in fact we'll need encoding conversion for a ton of files
#       so might as well just create a separate step for it
#       maybe a yaml file under roles/common/tasks ?
# TODO: full list of files that need conversion
#       gather all the names under one variable under vars or defaults or something
#       and then iterate when ready?
- name: Create Kafka Connect Config
  template:
    src: connect-distributed.properties.j2
    dest: "{{kafka_connect.config_file}}"
    mode: 0640
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  notify: restart connect distributed
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration

- name: Create Kafka Connect Config with Secrets Protection
  include_role:
    name: common
    tasks_from: secrets_protection.yml
  vars:
    final_properties: "{{ kafka_connect_final_properties }}"
    encrypt_passwords: "{{ kafka_connect_secrets_protection_encrypt_passwords }}"
    encrypt_properties: "{{ kafka_connect_secrets_protection_encrypt_properties }}"
    config_path: "{{ kafka_connect.config_file }}"
    secrets_file: "{{ kafka_connect_secrets_protection_file }}"
    secrets_file_owner: "{{ kafka_connect_user }}"
    secrets_file_group: "{{ kafka_connect_group }}"
    ca_cert_path: "{{ kafka_connect_ca_cert_path if kafka_connect_ssl_enabled|bool else '' }}"
    handler: restart connect distributed
  tags:
    - configuration
  when:
    - kafka_connect_secrets_protection_enabled|bool
    - rbac_enabled|bool
    # Secrets connection invokes confluent cli, which doesn't work on z/OS
    - ansible_os_family != "OS/390"

- name: Install Connect Plugins
  include_tasks: connect_plugins.yml
  when: ansible_os_family != "OS/390"

- name: Install Connect Plugins z/OS
  include_tasks: zos_connect_plugins.yml
  when: ansible_os_family == "OS/390"

- name: Create Logs Directory
  file:
    path: "{{kafka_connect_log_dir}}"
    state: directory
    group: "{{kafka_connect_group}}"
    owner: "{{kafka_connect_user}}"
    mode: 0770
  tags:
    - filesystem
    - log

- name: Update Connect log4j Config for Log Cleanup
  include_role:
    name: common
    tasks_from: update_log4j.yml
  vars:
    log4j_file: "{{kafka_connect.log4j_file}}"
    log4j_max_backup_index: "{{kafka_connect_max_log_files}}"
    log4j_max_file_size: "{{kafka_connect_log_file_size}}"
    log4j_root_logger: "{{kafka_connect_log4j_root_logger}}"
    handler: "restart connect distributed"
  when: kafka_connect_custom_log4j|bool
  tags:
    - configuration
    - log

- name: Set Permissions on Log4j Conf
  file:
    path: "{{kafka_connect.log4j_file}}"
    group: "{{kafka_connect_group}}"
    owner: "{{kafka_connect_user}}"
    mode: 0640
  tags:
    - filesystem
    - log

- name: Create logredactor rule file directory
  file:
    path: "{{ logredactor_rule_path | dirname }}"
    state: directory
    mode: 0755
  when: (kafka_connect_custom_log4j|bool) and (logredactor_enabled|bool) and (logredactor_rule_url == '')
  tags:
    - log

- name: Copy logredactor rule file from control node to component node
  copy:
    src: "{{ logredactor_rule_path_local }}"
    dest: "{{ logredactor_rule_path }}"
    mode: 0644
  when: (kafka_connect_custom_log4j|bool) and (logredactor_enabled|bool) and (logredactor_rule_url == '')
  tags:
    - log

- name: Configure logredactor
  include_role:
    name: common
    tasks_from: configure_logredactor.yml
  vars:
    log4j_file: "{{kafka_connect.log4j_file}}"
    logredactor_rule_var: "{% if logredactor_rule_url == '' %}{{logredactor_rule_path}}{% else %}{{logredactor_rule_url}}{% endif %}"
    logredactor_policy_refresh_interval_var: "{{logredactor_policy_refresh_interval}}"
  with_items: "{{ kafka_connect_logredactor_logger_specs_list }}"
  when: (kafka_connect_custom_log4j|bool) and (logredactor_enabled|bool)
  tags:
    - log

- name: Restart kafka connect
  ansible.builtin.debug:
    msg: "restarting kafka connect"
  notify: restart connect distributed
  when: (kafka_connect_custom_log4j|bool) and (logredactor_enabled|bool) and (not kafka_connect_skip_restarts|bool)
  tags:
    - log

- name: Create Kafka Connect Jolokia Config
  template:
    src: kafka_connect_jolokia.properties.j2
    dest: "{{kafka_connect_jolokia_config}}"
    mode: 0640
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  when: kafka_connect_jolokia_enabled|bool
  notify: restart connect distributed
  diff: "{{ not mask_sensitive_diff|bool }}"
  tags:
    - configuration

- name: Deploy JMX Exporter Config File
  copy:
    src: "{{kafka_connect_jmxexporter_config_source_path}}"
    dest: "{{kafka_connect_jmxexporter_config_path}}"
    mode: 0640
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  when: kafka_connect_jmxexporter_enabled|bool
  tags:
    - configuration

- name: Create Basic Auth Jaas File
  template:
    src: jaas.conf.j2
    dest: "{{kafka_connect.jaas_file}}"
    mode: 0640
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  notify: restart connect distributed
  when: kafka_connect_authentication_type == 'basic'

- name: Create Basic Auth Password File
  template:
    src: password.properties.j2
    dest: "{{kafka_connect.password_file}}"
    mode: 0640
    owner: "{{kafka_connect_user}}"
    group: "{{kafka_connect_group}}"
  notify: restart connect distributed
  when: kafka_connect_authentication_type == 'basic'

- name: Certs were Updated - Trigger Restart
  command: /bin/true
  notify: restart connect distributed
  when: certs_updated|bool

# TODO: need to avoid conversion if it's already done
- name: Convert properties and shell scripts
  when: ansible_os_family == "OS/390"
  include_role:
    name: common
    tasks_from: zos_convert_files.yml
  vars:
    paths_to_convert:
      - "{{config_base_path}}/{{kafka_connect_config_prefix}}"
      - "{{kafka_connect.log4j_file }}"  # this one lives outside of the main config dir

- meta: flush_handlers

- name: Start Connect Service
  systemd:
    name: "{{kafka_connect_service_name}}"
    enabled: true
    state: started
  when:
    - ansible_os_family != "OS/390"
  tags:
    - systemd

- name: Start Connect Distributed
  when:
    - ansible_os_family == "OS/390"
  shell: "{{ binary_base_path }}/bin/connect-distributed -daemon {{ kafka_connect.config_file }}"
  environment: "{{ kafka_connect_service_environment_overrides }}"  # this should merge with main env

- name: Health Check
  include_tasks: health_check.yml
  when:
    - kafka_connect_health_checks_enabled|bool
    - not ansible_check_mode
  tags: health_check

# Set a host fact with the direct cluster parent group
# Host of the same cluster have the same group.id
- name: Set parent Cluster
  vars:
    keywords:
      - kafka_connect
      - kafka_connect_parallel
      - kafka_connect_serial
  set_fact:
    parent_kafka_connect_cluster_group: "{{ (group_names | difference(keywords))[0] | default('kafka_connect') }}"
    parent_kafka_connect_cluster_id: "{{ kafka_connect_final_properties['group.id'] }}"

# - name: Register Cluster
#   include_tasks: register_cluster.yml
#   run_once: true

# - name: Deploy Connectors
#   include_tasks: deploy_connectors.yml

- name: Delete temporary keys/certs when keystore and trustore is provided
  file:
    path: "{{item}}"
    state: absent
  loop:
    - "{{kafka_connect_ca_cert_path}}"
    - "{{kafka_connect_cert_path}}"
    - "{{kafka_connect_key_path}}"
  when: (ssl_provided_keystore_and_truststore | bool)
