---
- name: Get Kafka Cluster Id
  import_role:
    name: common
    tasks_from: rbac_setup.yml
  when: rbac_enabled
  vars:
    copy_certs: false

- name: Fetch KSQL Cluster Groups
  set_fact:
    active_ksql_groups: "{{ (((active_ksql_groups | default([])) + hostvars[item].group_names) | difference('ksql'+'ksql_parallel'+'ksql_serial'+'kafka_connect'+'kafka_connect_parallel'+'kafka_connect_serial'+ 'kafka_broker'+ 'kafka_broker_parallel'+'kafka_broker_serial'+'control_center'+'control_center_parallel'+'control_center_serial'+'schema_registry'+'zookeeper'+'zookeeper_parallel'+'zookeeper_serial'+'kafka_rest'+'kafka_rest_parallel'+'kafka_rest_serial'+'kafka_controller'+'kafka_controller_parallel'+'kafka_controller_serial')) | default(['ksql'], true) }}"
  with_items: "{{ ansible_play_hosts }}"

- name: Register KSQL Cluster
  vars:
    cluster_host_delegates: "{{ active_ksql_groups | map('extract', groups, 0)| list }}"
    cluster_group: "{{ hostvars[item].parent_ksql_cluster_group }}"
    cluster_name: "{{ hostvars[item].ksql_cluster_name }}"
    cluster_id: "{{ hostvars[item].parent_ksql_cluster_id }}"
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/registry/clusters"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    body_format: json
    body: >
      [
          {
              "clusterName": "{{ cluster_name }}",
              "scope": {
                  "clusters": {
                      "kafka-cluster": "{{kafka_cluster_id}}",
                      "ksql-cluster": "{{ cluster_id }}"
                  }
              },
              "hosts": [ {% for host in groups[cluster_group] %}{% if loop.index > 1%},{% endif %}{ "host": "{{host}}", "port": {{ksql_listener_port}} }{% endfor %}
              ],
              "protocol": "{{ksql_http_protocol | upper}}"
          }
      ]
    status_code: 204
  register: output
  until: output.status == 204
  retries: "{{ mds_retries }}"
  delay: 10
  when:
    - hostvars[item].get("rbac_enabled", false)|bool
    - hostvars[item].ksql_cluster_name is defined
    - hostvars[item].parent_ksql_cluster_id is defined
  with_items: "{{ cluster_host_delegates }}"
