---
- name: Decide Where to delegate task of getting superuser token
  set_fact:
    delegation_target: >-
      {%- if external_mds_enabled | bool and (mds_ssl_client_authentication != 'none' or oauth_superuser_client_assertion_enabled | bool) -%}
        localhost
      {%- elif oauth_superuser_client_assertion_enabled | bool or mds_ssl_client_authentication != 'none' -%}
        {{ groups['kafka_broker'][0] }}
      {%- else -%}
        {{ inventory_hostname }}
      {%- endif -%}

- name: Get Kafka Cluster Id
  import_role:
    name: common
    tasks_from: rbac_setup.yml
  when: rbac_enabled
  vars:
    copy_certs: false
    delegated_to_localhost: "{{ external_mds_enabled|bool }}"
    erp_client_cert_path: "{{ ksql_cert_path }}"
    erp_client_key_path: "{{ ksql_key_path }}"
    cert_auth_only_enabled_for_rbac: "{{ ksql_mds_cert_auth_only|bool }}"
  delegate_to: "{{ delegation_target }}"
  # For single cluster delegating this task to broker as in case of cert based token retrival only broker can get a super user token using its certs
  # For Centralized MDS other clusters can't delegate to MDS cluster as that cluster may not have permissions to ssh into MDS, thus delegate to localhost

- name: Fetch KSQL Cluster Groups
  set_fact:
    active_ksql_groups: "{{ (((active_ksql_groups | default([])) + hostvars[item].group_names) | difference('ksql'+'ksql_parallel'+'ksql_serial'+'kafka_connect'+'kafka_connect_parallel'+'kafka_connect_serial'+ 'kafka_broker'+ 'kafka_broker_parallel'+'kafka_broker_serial'+'control_center_next_gen'+'control_center_parallel_next_gen'+'control_center_serial_next_gen'+'schema_registry'+'zookeeper'+'zookeeper_parallel'+'zookeeper_serial'+'kafka_rest'+'kafka_rest_parallel'+'kafka_rest_serial'+'kafka_controller'+'kafka_controller_parallel'+'kafka_controller_serial')) | default(['ksql'], true) }}"
  with_items: "{{ ansible_play_hosts }}"

- set_fact:
    send_client_cert: "{{ mds_ssl_client_authentication in ['required', 'requested'] }}"

- name: Register KSQL Cluster
  vars:
    cluster_host_delegates: "{{ active_ksql_groups | map('extract', groups, 0)| list }}"
    cluster_group: "{{ hostvars[item].parent_ksql_cluster_group }}"
    cluster_name: "{{ hostvars[item].ksql_cluster_name }}"
    cluster_id: "{{ hostvars[item].parent_ksql_cluster_id }}"
  uri:
    url: "{{mds_bootstrap_server_urls.split(',')[0]}}/security/1.0/registry/clusters"
    method: POST
    validate_certs: false
    client_cert: "{{ ksql_cert_path if send_client_cert|bool else omit }}"
    client_key: "{{ ksql_key_path if send_client_cert|bool else omit }}"
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    body_format: json
    body: >
      [
          {
              "clusterName": "{{ cluster_name }}",
              "scope": {
                  "clusters": {
                      "kafka-cluster": "{{kafka_cluster_id}}",
                      "ksql-cluster": "{{ cluster_id }}"
                  }
              },
              "hosts": [ {% for host in groups[cluster_group] %}{% if loop.index > 1%},{% endif %}{ "host": "{{host}}", "port": {{ksql_listener_port}} }{% endfor %}
              ],
              "protocol": "{{ksql_http_protocol | upper}}"
          }
      ]
    status_code: 204
  register: output
  until: output.status == 204
  retries: "{{ mds_retries }}"
  delay: 10
  when:
    - hostvars[item].get("rbac_enabled", false)|bool
    - hostvars[item].ksql_cluster_name is defined
    - hostvars[item].parent_ksql_cluster_id is defined
  with_items: "{{ cluster_host_delegates }}"
