{% set schema_registries = groups.get('schema_registry', []) %}

bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

{% if schema_registries %}
value.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}

key.converter.schema.registry.url={% include './includes/schema_registry_urls.j2' %}
{% endif %}

{% for key, value in kafka_connect.properties.items() %}
{{key}}={{value}}
{% endfor %}
