# Maintained by Ansible
zookeeper.connect={% for server in zookeepers %}{{ hostvars[server].ansible_fqdn }}:{{ zookeeper.config.clientPort }}{{ '' if loop.last else ',' }}{% endfor %}{% if kafka.broker.zookeeper_chroot_path is defined %}/{{ kafka.broker.zookeeper_chroot_path }}{% endif %}

log.dir={% for logdir in kafka.broker.datadir %}{% if loop.index > 1%},{% endif %}{{ logdir }}{% endfor %}

broker.id={{ hostvars[inventory_hostname].broker_id }}

{% if hostvars[inventory_hostname].broker_rack %}
broker.rack={{ broker_rack }}
{% endif %}

{% if security_mode == 'sasl_ssl' %}
listeners=SASL_SSL://:9092
security.inter.broker.protocol=SASL_SSL
confluent.metrics.reporter.security.protocol=SASL_SSL
#SSL Additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
confluent.metrics.reporter.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.metrics.reporter.ssl.truststore.password=confluent
confluent.metrics.reporter.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.metrics.reporter.ssl.keystore.password=confluent
confluent.metrics.reporter.ssl.key.password=confluent

#SASL Additions
listener.name.sasl_ssl.plain.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="broker" password="broker-secret" user_broker="broker-secret" user_client="client-secret";
sasl.enabled.mechanisms=PLAIN
sasl.mechanism.inter.broker.protocol=PLAIN
confluent.metrics.reporter.sasl.mechanism=PLAIN
confluent.metrics.reporter.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% elif security_mode == 'ssl' %}
# SSL Additions
listeners=SSL://:9092
security.inter.broker.protocol=SSL
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
confluent.metrics.reporter.security.protocol=SSL
confluent.metrics.reporter.ssl.truststore.location=/var/ssl/private/client.truststore.jks
confluent.metrics.reporter.ssl.truststore.password=confluent
confluent.metrics.reporter.ssl.keystore.location=/var/ssl/private/client.keystore.jks
confluent.metrics.reporter.ssl.keystore.password=confluent
confluent.metrics.reporter.ssl.key.password=confluent
{% endif %}

{% for key, value in kafka.broker.config.items() %}
{{key}}={{value}}
{% endfor %}
