port={{zookeeper_jolokia_port}}
host=0.0.0.0
{% if zookeeper_jolokia_ssl_enabled|bool %}
keystore={{zookeeper_keystore_path}}
keystorePassword={{zookeeper_keystore_storepass}}
protocol=https
sslProtocol=TLSv1.2
{% endif %}
{% if zookeeper_jolokia_auth_mode == 'basic' %}
authMode=basic
user={{zookeeper_jolokia_user}}
password={{zookeeper_jolokia_password}}
{% endif %}
