dn: dc={{ldap_dc}},dc={{ldap_dc_extension}}
dc: {{ldap_dc}}
objectClass: top
objectClass: domain

dn: cn=ldapadm,dc={{ldap_dc}},dc={{ldap_dc_extension}}
objectClass: organizationalRole
cn: ldapadm
description: LDAP Manager

dn: ou={{ldap_rbac_group}},dc={{ldap_dc}},dc={{ldap_dc_extension}}
objectClass: organizationalUnit
ou: {{ldap_rbac_group}}

dn: ou=Group,dc={{ldap_dc}},dc={{ldap_dc_extension}}
objectClass: organizationalUnit
ou: Group
