
listeners=SASL_PLAINTEXT://{{ ansible_fqdn }}:{{broker.config.port}}
advertised.listeners=SASL_PLAINTEXT://{{ ansible_fqdn }}:{{broker.config.port}}

security.inter.broker.protocol=SASL_PLAINTEXT

sasl.enabled.mechanisms=GSSAPI
sasl.mechanism.inter.broker.protocol=GSSAPI

super.users=User:kafka
authorizer.class.name=kafka.security.auth.SimpleAclAuthorizer

{% include './includes/base_server.properties.j2' %}

# Confluent Support
{% include './includes/confluent_support.j2' %}
