Configuration:
  Properties:
    Property:
      - name: replicator.log.dir
        value: {{ kafka_connect_replicator_log_dir|regex_replace('\\/$', '') }}
      - name: replicator.log.file
        value: {{ kafka_connect_replicator_log_name }}
  Appenders:
    Console:
      name: stdout
      target: SYSTEM_OUT
      PatternLayout:
        pattern: "[%d] %p %m (%c:%L)%n"
    RollingFile:
      name: replicatorAppender
      fileName: "${replicator.log.dir}/${replicator.log.file}"
      filePattern: "${replicator.log.dir}/${replicator.log.file}.%i"
      PatternLayout:
        pattern: "[%d] %p %m (%c)%n"
      Policies:
        SizeBasedTriggeringPolicy:
          size: {{ kafka_connect_replicator_log_file_size }}
      DefaultRolloverStrategy:
        max: {{ kafka_connect_replicator_max_log_files }}
  Loggers:
    Logger:
      - name: org.reflections
        level: error
        additivity: false
        AppenderRef:
          - ref: replicatorAppender
    Root:
      level: {{ kafka_connect_replicator_log4j2_root_logger_level }}
      AppenderRef:
{% for appender in kafka_connect_replicator_log4j2_root_appenders %}
        - ref: {{ appender }}
{% endfor %}
