---
# More usm_agent variables are defined in the variables role

# Health Check Configuration
usm_agent_health_check_enabled: true

### Time in seconds to wait before starting USM Agent Health Checks.
usm_agent_health_check_delay: 5

### Number of retries for USM Agent health checks
usm_agent_health_check_retries: 3

### Delay in seconds between USM Agent health check retries
usm_agent_health_check_retry_delay: 5

usm_agent_custom_args: ""

# For following dictionaries, Key/Value Pairs with empty values will not be written into override.conf

### Overrides to the Service Section of USM Agent Systemd File. This variable is a dictionary.
usm_agent_service_overrides:
  LimitNOFILE: 100000
  User: "{{ usm_agent_default_user }}"
  Group: "{{ usm_agent_default_group }}"
  ExecStart: "{% if installation_method == 'archive' %}{{ usm_agent_binary_base_path }}/bin/usm-agent-start{% endif %}"

### Environment Variables to be added to the USM Agent Service. This variable is a dictionary.
usm_agent_service_environment_overrides:
  # Override default directory paths for archive installations
  USM_AGENT_CONFIG_DIR: "{{ usm_agent.config_file | dirname }}"
  USM_AGENT_BIN_DIR: "{{ usm_agent_binary_base_path }}/bin"
  USM_AGENT_ENVOY_DIR: "{{ usm_agent_binary_base_path }}/libexec/confluent/usm-agent"
  USM_AGENT_CUSTOM_ARGS: "{{ usm_agent_custom_args }}"

### Overrides to the Unit Section of USM Agent Systemd File. This variable is a dictionary.
usm_agent_service_unit_overrides:

# Logrotate Configuration
usm_agent_logrotate_enabled: true

# Logrotate Parameters
usm_agent_logrotate_config:
  # Size limit for rotation (e.g., "10M", "100M", "1G")
  size: "10M"
  # Number of rotated files to keep
  rotate: 5
