port={{kafka_controller_jolokia_port}}
host=0.0.0.0
{% if kafka_controller_jolokia_ssl_enabled|bool %}
keystore={{kafka_controller_pkcs12_keystore_path}}
keystorePassword={{kafka_controller_keystore_storepass}}
protocol=https
sslProtocol=TLSv1.2
{% endif %}
{% if kafka_controller_jolokia_auth_mode == 'basic' %}
authMode=basic
user={{kafka_controller_jolokia_user}}
password={{kafka_controller_jolokia_password}}
{% endif %}
