{% if 'GSSAPI' in kafka_controller_sasl_enabled_mechanisms %}
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="{{kafka_controller_keytab_path}}"
    principal="{{kafka_controller_kerberos_principal}}";
};
{% endif %}
