# Maintained by Ansible
{# kafka_controller_properties defined in the variables role #}
{% for dict_name in ['zk_ssl', 'zk_mtls'] %}
{% if kafka_controller_properties[dict_name].enabled|bool %}
{% for key, value in kafka_controller_properties[dict_name].properties|dictsort%}
{{key}}={{value}}
{% endfor %}
{% endif %}
{% endfor %}
