---
- name: Copy Host Truststore to Host if on control node
  copy:
    src: "{{ssl_truststore_filepath}}"
    dest: "{{truststore_path}}"
    owner: "{{user}}"
    group: "{{group}}"
    mode: 0640
  when: not ( ssl_provided_keystore_and_truststore_remote_src|bool )
  tags:
    - privileged

- name: Copy Host Keystore to Host if on control node
  copy:
    src: "{{ssl_keystore_filepath}}"
    dest: "{{keystore_path}}"
    owner: "{{user}}"
    group: "{{group}}"
    mode: 0640
  when: not ( ssl_provided_keystore_and_truststore_remote_src|bool )
  tags:
    - privileged

- name: Get stats and permissions of keystore
  ansible.builtin.stat:
    path: "{{keystore_path}}"
  register: st_keystore

- name: Get stats and permissions of truststore
  ansible.builtin.stat:
    path: "{{truststore_path}}"
  register: st_truststore

- name: Validate keystore permissions
  debug:
    msg:  >-
      "Ensure that the keystore has valid permissions. The unix file permission of the keystore should be set to atleast read (>=400) with the
        name of the owner being '{{ user }}' and the group being '{{ group }}'."
  when: ( st_keystore.stat.mode|int < 400 ) or ( st_keystore.stat.pw_name != '{{user}}' ) or ( st_keystore.stat.gr_name != '{{group}}' )

- name: Validate truststore permissions
  debug:
    msg:  >-
      "Ensure that the truststore has valid permissions. The unix file permission of the truststore should be set to atleast read (>=400) with the
        name of the owner being '{{ user }}' and the group being '{{ group }}'."
  when: ( st_truststore.stat.mode|int < 400 ) or ( st_truststore.stat.pw_name != '{{user}}' ) or ( st_truststore.stat.gr_name != '{{group}}' )

- name: Export Certs from Keystore and Truststore
  include_tasks: export_certs_from_keystore_and_truststore.yml
  when: export_certs|bool or
        ( (secrets_protection_enabled|bool) and (rbac_enabled|bool) )
