---
- name: Copy CA Cert to Host
  copy:
    src: "{{ssl_self_signed_ca_cert_filepath}}"
    dest: "{{ca_cert_path}}"
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Copy CA Key to Host
  copy:
    src: "{{ssl_self_signed_ca_key_filepath}}"
    dest: "{{ca_key_path}}"
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Create Host Key
  shell: |
    openssl genrsa -out {{key_path}} {{ssl_key_size}}
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Create Certificate Signing Request
  shell: |
    openssl req -new -key {{key_path}} \
      -out {{ ssl_file_dir_final }}/generation/client.csr \
      -subj '/CN={{service_name}}/OU=TEST/O=CONFLUENT/L=PaloAlto/ST=Ca/C=US'
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Create Openssl Config for SAN
  template:
    src: openssl-san.cnf.j2
    dest: "{{ ssl_file_dir_final }}/generation/openssl-san.cnf"
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Sign CSR with the Certificate Authority
  shell: |
    openssl x509 -req -CA {{ca_cert_path}} \
      -CAkey {{ca_key_path}} \
      -in {{ ssl_file_dir_final }}/generation/client.csr \
      -out {{cert_path}} \
      -days {{keystore_expiration_days}} -CAcreateserial \
      -passin pass:{{ssl_self_signed_ca_password}} \
      -extfile {{ ssl_file_dir_final }}/generation/openssl-san.cnf \
      -extensions v3_req
  no_log: "{{mask_secrets|bool}}"

- name: Slurp Signed Cert
  slurp:
    src: "{{ cert_path }}"
  register: slurped_signed_cert
  when: not ansible_check_mode

- name: Verify Cert Chain
  community.crypto.certificate_complete_chain:
    input_chain: "{{ slurped_signed_cert['content'] | b64decode }}"
    root_certificates:
      - "{{ ca_cert_path }}"
  register: self_signed_cert_chain
  when: not ansible_check_mode

- name: Write Cert Chain
  copy:
    content: "{{ ''.join(self_signed_cert_chain.complete_chain) }}"
    dest: "{{ ssl_file_dir_final }}/{{ service_name }}.chain"
  when: not ansible_check_mode

- name: Create Keystore and Truststore from Certs
  include_tasks: create_keystores_from_certs.yml
  when: not ansible_check_mode
