THIS IS A TEST {{config_prefix}}

{{config_prefix}}.security.protocol={{listener | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if listener.ssl_enabled|bool %}
{{config_prefix}}.ssl.truststore.location={{truststore_path}}
{{config_prefix}}.ssl.truststore.password={{truststore_storepass}}
{% if listener.ssl_mutual_auth_enabled|bool %}
{{config_prefix}}.ssl.keystore.location={{keystore_path}}
{{config_prefix}}.ssl.keystore.password={{keystore_storepass}}
{{config_prefix}}.ssl.key.password={{keystore_keypass}}
{% if pkcs12_enabled|bool %}
{{config_prefix}}.ssl.keymanager.algorithm=PKIX
{{config_prefix}}.ssl.trustmanager.algorithm=PKIX
{{config_prefix}}.ssl.keystore.type=pkcs12
{{config_prefix}}.ssl.truststore.type=pkcs12
{% endif %}
{% endif %}
{% endif %}
