{{config_prefix}}.security.protocol={{listener | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if listener.ssl_enabled|bool %}
{{config_prefix}}.ssl.truststore.location={{truststore_path}}
{{config_prefix}}.ssl.truststore.password={{truststore_storepass}}
{% if listener.ssl_mutual_auth_enabled|bool %}
{{config_prefix}}.ssl.keystore.location={{keystore_path}}
{{config_prefix}}.ssl.keystore.password={{keystore_storepass}}
{{config_prefix}}.ssl.key.password={{keystore_keypass}}
{% if pkcs12_enabled|bool %}
{{config_prefix}}.ssl.keymanager.algorithm=PKIX
{{config_prefix}}.ssl.trustmanager.algorithm=PKIX
{{config_prefix}}.ssl.keystore.type=pkcs12
{{config_prefix}}.ssl.truststore.type=pkcs12
{% endif %}
{% endif %}
{% endif %}
{% if listener.sasl_protocol | normalize_sasl_protocol == 'PLAIN' %}
confluent.metrics.reporter.sasl.mechanism=PLAIN
confluent.metrics.reporter.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
   username="{{sasl_plain_username}}" password="{{sasl_plain_password}}";
{% endif %}
{% if listener.sasl_protocol | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
confluent.metrics.reporter.sasl.mechanism=SCRAM-SHA-256
confluent.metrics.reporter.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_username}}" password="{{sasl_scram_password}}";
{% endif %}
{% if listener.sasl_protocol | normalize_sasl_protocol == 'GSSAPI' %}
confluent.metrics.reporter.sasl.mechanism=GSSAPI
confluent.metrics.reporter.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
confluent.metrics.reporter.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true storeKey=true keyTab="{{kerberos.keytab_dir}}/{{kerberos_keytab_path | basename}}" \
   principal="{{kerberos_principal}}";
{% endif %}
