# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}PLAINTEXT://{{ host }}:{{broker.config.port}}{% endfor %}

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
