# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}SASL_SSL://{{ host }}:{{broker.config.port}}{% endfor %}

kafkastore.security.protocol=SASL_SSL
#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent

#SASL additions
kafkastore.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
kafkastore.sasl.mechanism=PLAIN

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
