# Maintained by Ansible
{% include './includes/base_tools.properties.j2' %}

security.protocol=SASL_SSL
#SSL additions
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent

#SASL additions
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
sasl.mechanism=PLAIN