# Maintained by Ansible
bootstrap.servers={{ confluent.cloud.broker.endpoint }}
security.protocol=SASL_SSL

request.timeout.ms=20000
retry.backoff.ms=500
ssl.endpoint.identification.algorithm=https

#SASL additions
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";
sasl.mechanism=PLAIN

{% for key, value in kafka.tools.config.items() %}
{{key}}={{value}}
{% endfor %}
