---
- name: Create SSL Certificate Directory
  file:
    path: /var/ssl/private/kafka_connect_replicator_monitoring_interceptor
    state: directory
    mode: 0755

- name: Check if MDS pem file exists on Ansible Controller
  stat:
    path: "{{ kafka_connect_replicator_monitoring_interceptor_erp_pem_file }}"
  register: replicator_pem_file
  delegate_to: localhost
  vars:
    ansible_connection: local
    ansible_become: "{{ ansible_become_localhost }}"

- name: Debug
  ansible.builtin.debug:
    msg: WARNING - The file {{kafka_connect_replicator_monitoring_interceptor_erp_pem_file}} doesn't exist on the control node
  when: not replicator_pem_file.stat.exists|bool

- name: Copy in MDS Public Pem File
  copy:
    src: "{{ kafka_connect_replicator_monitoring_interceptor_erp_pem_file }}"
    dest: "{{ kafka_connect_replicator_monitoring_interceptor_rbac_enabled_public_pem_path }}"
    mode: 0640
    owner: "{{kafka_connect_replicator_user}}"
    group: "{{kafka_connect_replicator_group}}"
  when: replicator_pem_file.stat.exists|bool
  diff: "{{ not mask_sensitive_diff|bool }}"

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusters": {
            "kafka-cluster":"{{kafka_connect_replicator_monitoring_interceptor_kafka_cluster_id}}"
          }
        },
        "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  register: replicator_mds_result
  until: replicator_mds_result.status == 204
  retries: 30
  delay: 5
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_id != "") and not ansible_check_mode

- name: Grant connect user the DeveloperWrite role on Monitoring Interceptor Topic
  uri:
    url: "{{kafka_connect_replicator_monitoring_interceptor_erp_host.split(',')[0]}}/security/1.0/principals/User:{{kafka_connect_replicator_monitoring_interceptor_ldap_user}}/roles/DeveloperWrite/bindings"
    method: POST
    validate_certs: false
    force_basic_auth: true
    url_username: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_user}}"
    url_password: "{{kafka_connect_replicator_monitoring_interceptor_erp_admin_password}}"
    headers:
      Content-Type: application/json
    body_format: json
    body: >
      {
        "scope": {
          "clusterName": "{{ kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name }}"
        },
        "resourcePatterns": [{
          "resourceType": "Topic",
          "name": "{{kafka_connect_replicator_monitoring_interceptor_final_properties['confluent.monitoring.interceptor.topic']}}",
          "patternType":"LITERAL"
        }]
      }
    status_code: 204
  register: replicator_mds_result
  until: replicator_mds_result.status == 204
  retries: 30
  delay: 5
  when: (kafka_connect_replicator_monitoring_interceptors_enabled|bool) and (kafka_connect_replicator_monitoring_interceptor_kafka_cluster_name != "") and not ansible_check_mode
