---
- name: Decide Where to delegate task of getting superuser token
  set_fact:
    delegation_target: >-
      {%- if external_mds_enabled|bool -%}
        localhost
      {%- else -%}
        {{ groups['kafka_broker'][0] }}
      {%- endif -%}

- name: Debug delegation Target
  debug:
    msg:
      - "delegation target: {{ delegation_target }}"

- name: Get Kafka Cluster Id
  import_role:
    name: common
    tasks_from: rbac_setup.yml
  vars:
    copy_certs: false
    delegated_to_localhost: "{{ external_mds_enabled|bool }}"
  delegate_to: "{{ delegation_target if ssl_client_authentication != 'none' else omit }}"

- name: Register Kafka Replicator Cluster
  uri:
    url: "{{kafka_connect_replicator_erp_host.split(',')[0]| default('localhost:8090')}}/security/1.0/registry/clusters"
    method: POST
    validate_certs: false
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ authorization_token }}"
    client_cert: "{{ kafka_connect_replicator_cert_path }}"
    client_key: "{{ kafka_connect_replicator_key_path }}"
    body_format: json
    body: >
      [
          {
              "clusterName": "{{kafka_connect_replicator_cluster_name}}",
              "scope": {
                  "clusters": {
                      "kafka-cluster": "{{kafka_cluster_id}}",
                      "connect-cluster": "{{kafka_connect_replicator_final_properties['group.id']}}"
                  }
              },
              "hosts": [ {% for host in groups['kafka_connect_replicator'] %}{% if loop.index > 1%},{% endif %}{ "host": "{{host}}", "port": {{kafka_connect_replicator_port}} }{% endfor %}
              ],
              "protocol": "{{kafka_connect_replicator_http_protocol | upper}}"
          }
      ]
    status_code: 204
  run_once: true
  register: output
  until: output.status == 204
  retries: 20
  delay: 10
