[Unit]
Description=Apache Kafka Connect Distributed by Confluent
Wants=basic.target
After=basic.target network-online.target
Documentation=https://docs.confluent.io/current/

[Service]
Type=simple
User={{ kafka.connect.user }}
ExecStart=/bin/connect-standalone {{kafka.connect.standalone.config_file}} {% for config in kafka.connect.standalone.connector_configs %}{% if loop.index > 1%} {% endif %}{{ config }}{% endfor %}

KillMode       = process
RestartSec     = {{ kafka.connect.standalone.systemd.RestartSec}}
TimeoutStopSec = {{ kafka.connect.standalone.systemd.TimeoutStopSec}}
Type           = simple
LimitNOFILE    = {{ kafka.connect.standalone.systemd.LimitNOFILE}}

{% for key, value in kafka.connect.standalone.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
