# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:9092{% endfor %}

plugin.path={% for plugin_path in kafka.connect.standalone.plugin_path %}{% if loop.index > 1%},{% endif %}{{ plugin_path }}{% endfor %}

value.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

key.converter.schema.registry.url={% for host in groups['schema-registry'] %}{% if loop.index > 1%},{% endif %}http://{{ host }}:8081/{% endfor %}

offset.storage.file.filename={{kafka.connect.standalone.data_dir}}/connect.offsets

{% for key, value in kafka.connect.standalone.config.items() %}
{{key}}={{value}}
{% endfor %}
