# TODO: Create z/OS version
#       remember that encoding can be all over the place afterwards
---
- name: Create Dirs for Copied Files
  file:
    path: "{{ item.destination_path | dirname }}"
    state: directory
    mode: "{{ item.directory_mode | default('0750') }}"
    owner: "{{user}}"
    group: "{{group}}"
  loop: "{{ copy_files }}"

- name: Copy Files
  copy:
    src: "{{ item.source_path }}"
    dest: "{{ item.destination_path }}"
    mode: "{{ item.file_mode | default('0640') }}"
    owner: "{{user}}"
    group: "{{group}}"
  loop: "{{ copy_files }}"
