---
- name: Gather OS Facts
  setup:
    # Only gathers ansible_distribution_release, filters out the rest
    filter: ansible_distribution_release
    gather_subset:
      - '!all'

- name: Install gnupg
  apt:
    name: gnupg2
    update_cache: true
  register: install_gnupg_result
  until: install_gnupg_result is success or ansible_check_mode
  retries: 5
  delay: 90
  tags: package

- name: Install apt-transport-https
  shell: apt-get install apt-transport-https -y --force-yes
  args:
    warn: false
  register: install_apt_transport_result
  until: install_apt_transport_result is success  or ansible_check_mode
  retries: 5
  delay: 90

- name: Add Confluent Apt Key
  apt_key:
    url: "{{confluent_common_repository_debian_key_url}}"
    state: present
  register: apt_add_key_result
  until: apt_add_key_result is success
  retries: 5
  delay: 90
  when:
    - repository_configuration == 'confluent'
    - installation_method == "package"
  tags:
    - privileged

- name: Add Confluent Apt Repo
  apt_repository:
    repo: "{{confluent_common_repository_debian_repository}}"
    state: present
  register: apt_add_result
  until: apt_add_result is success
  retries: 5
  delay: 90
  when:
    - repository_configuration == 'confluent'
    - installation_method == "package"

- name: Add Confluent Clients Apt Key
  apt_key:
    url: "{{confluent_common_repository_debian_clients_key_url}}"
    state: present
  when:
    - repository_configuration == 'confluent'
    - installation_method == "package"

- name: Add Confluent Clients Apt Repo
  apt_repository:
    repo: "{{confluent_common_repository_debian_clients_repository}}"
    state: present
  register: apt_add_result
  until: apt_add_result is success
  retries: 10
  delay: 5
  when:
    - repository_configuration == 'confluent'
    - installation_method == "package"

- name: Add Custom Apt Repo
  copy:
    src: "{{custom_apt_repo_filepath}}"
    dest: /etc/apt/sources.list.d/custom_confluent.list
  register: apt_custom_add_result
  until: apt_custom_add_result is success
  retries: 5
  delay: 90
  when: repository_configuration == 'custom'
  notify:
    - apt-get update

- meta: flush_handlers

- name: Copy in repo skip valid check
  copy:
    content: 'Acquire::Check-Valid-Until "0";'
    dest: /etc/apt/apt.conf.d/skip-check
    mode: 0644
  notify:
    - debian apt-get update
  when:
    - install_java|bool
    - repository_configuration == 'confluent'

- name: Add jessie-backports Repo
  lineinfile:
    path: /etc/apt/sources.list
    line: deb [check-valid-until=no] http://archive.debian.org/debian jessie-backports main
    regexp: '.*jessie-backports.*'
  notify:
    - debian apt-get update
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "jessie"

- name: Add stretch-backports Repo
  lineinfile:
    path: /etc/apt/sources.list
    line: deb [check-valid-until=no] http://ftp.debian.org/debian stretch-backports main
    regexp: '.*stretch-backports.*'
  notify:
    - debian apt-get update
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "stretch"

- name: Add buster-backports Repo
  lineinfile:
    path: /etc/apt/sources.list
    line: deb [check-valid-until=no] http://ftp.debian.org/debian buster-backports main
    regexp: '.*buster-backports.*'
  notify:
    - debian apt-get update
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "buster"

- name: Add sid Repo for JAVA Buster
  lineinfile:
    dest: /etc/apt/sources.list
    insertafter: EOF
    line: "deb http://ftp.us.debian.org/debian sid main"
    regex: '.*sid main.*'
  notify:
    - debian apt-get update
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "buster"
    - add_sid_repo|bool

- meta: flush_handlers

- name: Install Java - jessie
  apt:
    name: "{{ debian_java_package_name }}"
    state: present
    default_release: jessie-backports
  register: java_install_result
  until: java_install_result is success  or ansible_check_mode
  retries: 10
  delay: 5
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "jessie"
  tags: package

- name: Install Java - stretch
  apt:
    name: "{{ debian_java_package_name }}"
    state: present
    default_release: stretch-backports
  register: java_install_result
  until: java_install_result is success  or ansible_check_mode
  retries: 10
  delay: 5
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "stretch"
  tags: package

- name: Install Java - buster
  apt:
    name: "{{ debian_java_package_name }}"
    state: present
  register: java_install_result
  until: java_install_result is success
  retries: 10
  delay: 5
  when:
    - install_java|bool
    - repository_configuration == 'confluent'
    - ansible_distribution_release == "buster"

- name: Install Java (Custom Repo)
  apt:
    name: "{{ debian_java_package_name }}"
    state: present
  register: java_install_result
  until: java_install_result is success  or ansible_check_mode
  retries: 10
  delay: 5
  when:
    - install_java|bool
    - repository_configuration in ['custom', 'none']
  tags: package

- name: Install ca-certificates, openssl, unzip
  apt:
    name:
      - ca-certificates
      - openssl
      - unzip
      - curl
  tags: package

- name: Install pip
  apt:
    name:
      - python3-pip
    state: present
  become: true

- name: Upgrade pip
  ansible.builtin.pip:
    name: pip
    extra_args: --upgrade

- name: Install pip packages
  ansible.builtin.pip:
    name: "{{pip_packages}}"
