---
- name: Get Package Facts
  package_facts:

- name: Determine if Confluent Platform Package Version Will Change
  set_fact:
    confluent_package_version_changed: >-
      {{ ansible_facts.packages['confluent-common'] is defined
          and ansible_facts.packages['confluent-common'][0].version
            not in [confluent_package_version, confluent_full_package_version] }}

- name: Determine if Control Center Next Gen Package Version Will Change
  set_fact:
    confluent_control_center_next_gen_package_version_changed: >-
      {{ ansible_facts.packages['confluent-control-center-next-gen'] is defined
          and ansible_facts.packages['confluent-control-center-next-gen'][0].version
            not in [confluent_control_center_next_gen_package_version, confluent_control_center_next_gen_full_package_version] }}

- name: Determine if USM Agent Package Version Will Change
  set_fact:
    confluent_usm_agent_package_version_changed: >-
      {{ ansible_facts.packages['confluent-usm-agent'] is defined
          and ansible_facts.packages['confluent-usm-agent'][0].version
            != confluent_usm_agent_package_version }}

- name: Get installed Confluent Platform Packages
  set_fact:
    confluent_platform_packages_actual: >
      {{ ansible_facts.packages | dict2items | map(attribute='key') |
         select('match', 'confluent-') |
         reject('match', 'confluent-control-center-next-gen') |
         reject('match', 'confluent-usm-agent') | list }}

- name: Get installed Control Center Next Gen Packages
  set_fact:
    confluent_control_center_next_gen_packages_actual: >
      {{ ansible_facts.packages | dict2items | map(attribute='key') |
         select('match', 'confluent-control-center-next-gen') | list }}

- name: Get installed USM Agent Packages
  set_fact:
    confluent_usm_agent_packages_actual: >
      {{ ansible_facts.packages | dict2items | map(attribute='key') |
         select('match', 'confluent-usm-agent') | list }}

- name: Determine Confluent Platform Packages to Remove
  set_fact:
    confluent_platform_packages_removed: >
      {{ confluent_platform_packages_actual if confluent_package_version_changed|bool else
          confluent_platform_packages_actual | intersect(['confluent-kafka']) if confluent_server_enabled else
          confluent_platform_packages_actual | intersect(['confluent-server']) }}

- name: Determine Control Center Next Gen Packages to Remove
  set_fact:
    confluent_control_center_next_gen_packages_removed: >
      {{ confluent_control_center_next_gen_packages_actual if confluent_control_center_next_gen_package_version_changed|bool else [] }}

- name: Determine USM Agent Packages to Remove
  set_fact:
    confluent_usm_agent_packages_removed: >
      {{ confluent_usm_agent_packages_actual if confluent_usm_agent_package_version_changed|bool else [] }}

- name: Combine all packages to remove
  set_fact:
    confluent_packages_removed: >
      {{ (confluent_platform_packages_removed +
          confluent_control_center_next_gen_packages_removed +
          confluent_usm_agent_packages_removed) | unique }}

- name: Debug Confluent Packages to Remove
  debug:
    msg: "{{ confluent_packages_removed }}"
  when: confluent_packages_removed|length > 0

### Kafka Connect Replicator Binary does not include a service definition by default, thus we need to validate if one exists in order to handle service lifecycle correctly.
### - ansible_facts.services[service_name + '.service'] is defined

- name: Get Service Facts
  service_facts:

- name: Stop Service before Removing Confluent Packages
  systemd:
    name: "{{ service_name }}"
    state: stopped
  when:
    - ansible_facts.services[service_name + '.service'] is defined
    - confluent_packages_removed|length > 0

- name: Remove Confluent Packages - Red Hat
  yum:
    name: "{{ confluent_packages_removed }}"
    state: absent
  when:
    - ansible_os_family == "RedHat"
    - confluent_packages_removed|length > 0

- name: Remove Confluent Packages - Debian
  apt:
    name: "{{ confluent_packages_removed }}"
    state: absent
  when:
    - ansible_os_family == "Debian"
    - confluent_packages_removed|length > 0
