# Maintained by Ansible
kafkastore.bootstrap.servers={% for inventory_hostname in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}SASL_SSL://{{ inventory_hostname }}:{{kafka_port}}{% endfor %}

kafkastore.connection.url=zookeeper.connect={% for inventory_hostname in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ inventory_hostname }}:{{zookeeper.properties.clientPort}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}

kafkastore.security.protocol=SASL_SSL
kafkastore.sasl.mechanism=GSSAPI

kafkastore.sasl.kerberos.service.name=kafka

# Kerberos Properties
kafkastore.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/schemaregistry-{{inventory_hostname}}.keytab" \
   principal="schemaregistry/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent
#SSL addition HTTPS
ssl.truststore.location=/var/ssl/private/client.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
