# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['kafka'] %}{% if loop.index > 1%},{% endif %}PLAINTEXT://{{ host }}:{{kafka_port}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}
