# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['kafka'] %}{% if loop.index > 1%},{% endif %}SSL://{{ host }}:{{kafka_port}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password={{host_truststore_storepass}}
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password={{host_keystore_storepass}}
kafkastore.ssl.key.password={{host_cert_password}}
kafkastore.security.protocol=SSL
