{% set cfg = confluent.control.center.config %}
{% set schema_registry_enabled = cfg.get('confluent.controlcenter.schema.registry.enable', 'False') | bool %}
{% set ksql_enabled = cfg.get('confluent.controlcenter.ksql.enable', 'False') | bool %}
{{ ansible_managed | comment }}

bootstrap.servers={{ client.broker.bootstrap_servers }}
zookeeper.connect={{ client.zookeeper.connect }}
{{ client_config | append_prefix(['confluent.controlcenter.streams.', 'confluent.controlcenter.rest.']) | combine(cfg) | to_properties }}
{% if ksql_enabled %}
confluent.controlcenter.ksql.url={{ client.ksql.endpoint }}
{% endif %}
{% if schema_registry_enabled %}
confluent.controlcenter.schema.registry.url={{ client.schema.registry.urls }}
{% endif %}
confluent.controlcenter.connect.cluster={{ client.connect.urls }}
