# Maintained by Ansible
bootstrap.servers={{ confluent.cloud.broker.endpoint }}

confluent.controlcenter.streams.security.protocol=SASL_SSL
confluent.controlcenter.streams.ssl.endpoint.identification.algorithm=https
confluent.controlcenter.streams.request.timeout.ms=20000
confluent.controlcenter.streams.retry.backoff.ms=500

#SASL additions
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ confluent.cloud.api.key }}" password="{{ confluent.cloud.api.secret }}";
confluent.controlcenter.streams.sasl.mechanism=PLAIN

{% for key, value in confluent.control.center.config.items() %}
{{key}}={{value}}
{% endfor %}
