[Unit]
Description=Control Center by Confluent
Wants=basic.target
After=basic.target network-online.target
Documentation=https://docs.confluent.io/current/

[Service]
Type=simple
User={{ confluent.control.center.user }}
ExecStart=/usr/bin/control-center-start {{ confluent.control.center.config_file }}
KillMode       = process
RestartSec     = {{ confluent.control.center.systemd.RestartSec}}
TimeoutStopSec = {{ confluent.control.center.systemd.TimeoutStopSec}}
Type           = simple
LimitNOFILE    = {{ confluent.control.center.systemd.LimitNOFILE}}

{% for key, value in confluent.control.center.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
