# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}SSL://{{ host }}:{{broker.config.port}}{% endfor %}

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent
kafkastore.security.protocol=SSL

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
