# Maintained by Ansible

{% if security_mode in ['sasl_ssl', 'ssl'] %}
#SSL common additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent
{% else %}
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}PLAINTEXT://{{ host }}:{{broker.config.port }}{% endfor %}
{% endif %}


{% if security_mode == 'sasl_ssl' %}
#SASL additions
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}SASL_SSL://{{ host }}:{{broker.config.port }}{% endfor %}
kafkastore.security.protocol=SASL_SSL
kafkastore.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
kafkastore.sasl.mechanism=PLAIN
{% endif %}

{% if security_mode == 'ssl' %}
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}SSL://{{ host }}:{{broker.config.port }}{% endfor %}
#SSL additions
kafkastore.security.protocol=SSL
{% endif %}

{% for key, value in schema.registry.config.items() %}
{{ key}}={{value }}
{% endfor %}
