# Maintained by Ansible
kafkastore.bootstrap.servers={% for server in brokers %}PLAINTEXT://{{ hostvars[server].ansible_fqdn }}:{{ kafka.broker.port }}{{ '' if loop.last else ',' }}{% endfor %}

{% if security_mode == 'sasl_ssl' %}
kafkastore.security.protocol=SASL_SSL
#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent

#SASL additions
kafkastore.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
kafkastore.sasl.mechanism=PLAIN
{% elif security_mode == 'ssl' %}

#SSL additions
kafkastore.ssl.truststore.location=/var/ssl/private/client.truststore.jks
kafkastore.ssl.truststore.password=confluent
kafkastore.ssl.keystore.location=/var/ssl/private/client.keystore.jks
kafkastore.ssl.keystore.password=confluent
kafkastore.ssl.key.password=confluent
kafkastore.security.protocol=SSL
{% endif %}

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
