---
# Cannot use Block/Rescue in Ansible Handlers: https://github.com/ansible/ansible/issues/14270
# Implementing try/catch logic with ignore_errors and conditionals
- name: Wait for API to return 200
  uri:
    url: "{{schema_registry_http_protocol}}://{{inventory_hostname}}:{{schema_registry_listener_port}}/subjects"
    status_code: 200
    validate_certs: false
    # Basic auth header is redundant for non rbac install
    url_username: "{{schema_registry_health_check_user}}"
    url_password: "{{schema_registry_health_check_password}}"
    force_basic_auth: true
  register: result1
  until: result1.status == 200
  retries: 30
  delay: 5
  when: not schema_registry_ssl_mutual_auth_enabled|bool
  ignore_errors: true

- name: Wait for API to return 200 - mTLS
  uri:
    url: "{{schema_registry_http_protocol}}://{{inventory_hostname}}:{{schema_registry_listener_port}}/subjects"
    status_code: 200
    validate_certs: false
    client_cert: "{{schema_registry_cert_path}}"
    client_key: "{{schema_registry_key_path}}"
    # Basic auth header is redundant for non rbac install
    url_username: "{{schema_registry_health_check_user}}"
    url_password: "{{schema_registry_health_check_password}}"
    force_basic_auth: true
  register: result2
  until: result2.status == 200
  retries: 30
  delay: 5
  when: schema_registry_ssl_mutual_auth_enabled|bool
  ignore_errors: true

- name: Fetch Files for Debugging Failure
  # Cannot use include_role in Ansible Handlers: https://github.com/ansible/ansible/issues/20493
  include_tasks:
    file: ../../confluent.common/tasks/failure_handling.yml
  vars:
    service_name: "{{schema_registry_service_name}}"
    config_file: "{{schema_registry.config_file}}"
    exclude_patterns: "{{ schema_registry_fetch_log_files_exclude_patterns }}"
    log_dir: "{{schema_registry_service_environment_overrides.LOG_DIR}}"
    get_logs: "{{ schema_registry_fetch_log_files }}"
  # Only one health check runs, only one will have a 'failed' field. For skipped checks, defaulting 'failed' to False
  when: result1.failed|default(False) or result2.failed|default(False)
