port={{schema_registry_jolokia_port}}
host=0.0.0.0
{% if schema_registry_jolokia_ssl_enabled|bool %}
keystore={{schema_registry_keystore_path}}
keystorePassword={{schema_registry_keystore_storepass}}
protocol=https
sslProtocol=TLSv1.2
{% endif %}
{% if schema_registry_jolokia_auth_mode == 'basic' %}
authMode=basic
user={{schema_registry_jolokia_user}}
password={{schema_registry_jolokia_password}}
{% endif %}
