---
- name: Import all variables
  hosts: all
  tags: always
  tasks:
    - import_role:
        name: variables

- name: Zookeeper Provisioning
  hosts: zookeeper
  gather_facts: false
  tags: zookeeper
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ zookeeper_service_name }}"
        config_file: "{{ zookeeper.config_file }}"
        log_dir: "{{zookeeper_log_dir}}"
        user: "{{zookeeper_user}}"
        group: "{{zookeeper_group}}"

- name: Kafka Controller Provisioning
  hosts: kafka_controller
  gather_facts: false
  tags: kafka_controller
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ kafka_broker_service_name }}"
        config_file: "{{ kafka_broker.config_file }}"
        log_dir: "{{kafka_broker_log_dir}}"
        user: "{{kafka_broker_user}}"
        group: "{{kafka_broker_group}}"

- name: Kafka Broker Provisioning
  hosts: kafka_broker
  gather_facts: false
  tags: kafka_broker
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ kafka_broker_service_name }}"
        config_file: "{{ kafka_broker.config_file }}"
        log_dir: "{{kafka_broker_log_dir}}"
        user: "{{kafka_broker_user}}"
        group: "{{kafka_broker_group}}"

- name: Schema Registry Provisioning
  hosts: schema_registry
  gather_facts: false
  tags: schema_registry
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ schema_registry_service_name }}"
        config_file: "{{ schema_registry.config_file }}"
        log_dir: "{{schema_registry_log_dir}}"
        user: "{{schema_registry_user}}"
        group: "{{schema_registry_group}}"

- name: Kafta Connect Provisioning
  hosts: kafka_connect
  gather_facts: false
  tags: kafka_connect
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ kafka_connect_service_name }}"
        config_file: "{{ kafka_connect.config_file }}"
        log_dir: "{{kafka_connect_log_dir}}"
        user: "{{kafka_connect_user}}"
        group: "{{kafka_connect_group}}"

- name: Kafta Connect Provisioning
  hosts: kafka_connect_replicator
  gather_facts: false
  tags: kafka_connect_replicator
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ kafka_connect_replicator_service_name }}"
        config_file: "{{ kafka_connect_replicator.config_file }}"
        log_dir: "{{kafka_connect_replicator_log_dir}}"
        user: "{{kafka_connect_replicator_user}}"
        group: "{{kafka_connect_replicator_group}}"

- name: KSQL Provisioning
  hosts: ksql
  gather_facts: false
  tags: ksql
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ ksql_service_name }}"
        config_file: "{{ ksql.config_file }}"
        log_dir: "{{ksql_log_dir}}"
        user: "{{ksql_user}}"
        group: "{{ksql_group}}"

- name: Kafka Rest Provisioning
  hosts: kafka_rest
  gather_facts: false
  tags: kafka_rest
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ kafka_rest_service_name }}"
        config_file: "{{ kafka_rest.config_file }}"
        log_dir: "{{kafka_rest_log_dir}}"
        user: "{{kafka_rest_user}}"
        group: "{{kafka_rest_group}}"

- name: Control Center Provisioning
  hosts: control_center
  gather_facts: false
  tags: control_center
  tasks:
    - include_role:
        name: common
        tasks_from: fetch_logs.yml
      vars:
        service_name: "{{ control_center_service_name }}"
        config_file: "{{ control_center.config_file }}"
        log_dir: "{{control_center_log_dir}}"
        user: "{{control_center_user}}"
        group: "{{control_center_group}}"
