---
### to use restart_strategy as parallel, provide restart_strategy=parallel in --extra-vars

- name: Import all variables
  hosts: all
  tags: always
  tasks:
    - import_role:
        name: variables

- name: Zookeeper Restart
  hosts: zookeeper
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: zookeeper
  tasks:
    - include_role:
        name: zookeeper
        tasks_from: restart_and_wait.yml
    - include_role:
        name: zookeeper
        tasks_from: health_check.yml
      tags: health_check

- name: Kafka Controller Restart
  hosts: kafka_controller
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: kafka_controller
  tasks:
    - include_role:
        name: kafka_broker
        tasks_from: restart_and_wait.yml
    - include_role:
        name: kafka_broker
        tasks_from: health_check.yml
      tags: health_check

- name: Kafka Broker Restart
  hosts: kafka_broker
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: kafka_broker
  tasks:
    - include_role:
        name: kafka_broker
        tasks_from: restart_and_wait.yml
    - include_role:
        name: kafka_broker
        tasks_from: health_check.yml
      tags: health_check

- name: Schema Registry Restart
  hosts: schema_registry
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: schema_registry
  tasks:
    - include_role:
        name: schema_registry
        tasks_from: restart_and_wait.yml
    - include_role:
        name: schema_registry
        tasks_from: health_check.yml
      tags: health_check

- name: Kafka Connect Restart
  hosts: kafka_connect
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: kafka_connect
  tasks:
    - include_role:
        name: kafka_connect
        tasks_from: restart_and_wait.yml
    - include_role:
        name: kafka_connect
        tasks_from: health_check.yml
      tags: health_check

- name: Kafka Connect Restart
  hosts: kafka_connect_replicator
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: kafka_connect_replicator
  tasks:
    - include_role:
        name: kafka_connect_replicator
        tasks_from: restart_and_wait.yml
    - include_role:
        name: kafka_connect_replicator
        tasks_from: health_check.yml
      tags: health_check

- name: KSQL Restart
  hosts: ksql
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: ksql
  tasks:
    - include_role:
        name: ksql
        tasks_from: restart_and_wait.yml
    - include_role:
        name: ksql
        tasks_from: health_check.yml
      tags: health_check

- name: Kafka Rest Restart
  hosts: kafka_rest
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: kafka_rest
  tasks:
    - include_role:
        name: kafka_rest
        tasks_from: restart_and_wait.yml
    - include_role:
        name: kafka_rest
        tasks_from: health_check.yml
      tags: health_check

- name: Control Center Restart
  hosts: control_center
  gather_facts: false
  serial: "{{ '100%' if restart_strategy | default('rolling')  == 'parallel' else '1' }}"
  tags: control_center
  tasks:
    - include_role:
        name: control_center
        tasks_from: restart_and_wait.yml
    - include_role:
        name: control_center
        tasks_from: health_check.yml
      tags: health_check
