---
# - debug: msg=msg

- name: Populate Service Facts
  service_facts:

- debug:
    var: ansible_facts.services['confluent-zookeeper.service']

- name: Restart Zookeeper Serially
  include: restart.yml
  delegate_to: "{{ item }}"
  loop: "{{ groups['zookeeper'] }}"
  when:
    - ansible_facts.services['confluent-zookeeper.service'].state == 'running'
    - "hostvars[item].inventory_hostname == inventory_hostname"

- name: Restart Zookeeper in Parallel
  include: restart.yml
  when: ansible_facts.services['confluent-zookeeper.service'].state != 'running'
