---
# More Kafka Connect Replicator variables are defined in the variables role

### Boolean to reconfigure Kafka Connect Replicator's logging with the RollingFileAppender and log cleanup functionality.
kafka_connect_replicator_custom_log4j2: "{{ custom_log4j2 }}"

### Root logger level within Kafka Connect Replicator's log4j2 config. Only honored if kafka_connect_replicator_custom_log4j2: true
kafka_connect_replicator_log4j2_root_logger_level: "INFO"

### Root logger appender within Kafka Connect Replicator's log4j config. Only honored if kafka_connect_replicator_custom_log4j2: true
kafka_connect_replicator_log4j2_root_appenders:
  - replicatorAppender
  - STDOUT

kafka_connect_replicator_oauth_urls_list: "{{ [oauth_token_uri, oauth_jwks_uri] | select('!=', 'none') | join(',') }}"

kafka_connect_replicator_oauth_urls_java_arg: "{% if not whitelist_explicit_oauth_urls|bool %}-Dorg.apache.kafka.sasl.oauthbearer.allowed.urls=*{% else %}-Dorg.apache.kafka.sasl.oauthbearer.allowed.urls={{kafka_connect_replicator_oauth_urls_list}}{% endif %}"

kafka_connect_replicator_java_args:
  - "{% if kafka_connect_replicator_ssl_mutual_auth_enabled| bool %}-Djdk.tls.ephemeralDHKeySize=2048{% endif %}"
  - "{% if kafka_connect_replicator_jolokia_enabled|bool %}-javaagent:{{kafka_connect_replicator_jolokia_jar_path}}=config={{kafka_connect_replicator_jolokia_config}}{% endif %}"
  - "{% if kerberos_client_config_file_dest != '/etc/krb5.conf' %}-Djava.security.krb5.conf={{kerberos_client_config_file_dest}}{% endif %}"
  - "{% if kafka_connect_replicator_oauth_urls_list != '' %}{{ kafka_connect_replicator_oauth_urls_java_arg }}{% endif %}"

### Custom Java Args to add to the Kafka Connect Replicator Process
kafka_connect_replicator_custom_java_args: ""

kafka_connect_replicator_final_java_args: "{{ kafka_connect_replicator_java_args + [ kafka_connect_replicator_custom_java_args ] }}"

# For following dictionaries, Key/Value Pairs with empty values will not be written into override.conf

### Overrides to the Service Section of Kafka Connect Replicator Systemd File. This variable is a dictionary.
kafka_connect_replicator_service_overrides:
  LimitNOFILE: 100000
  User: "{{ kafka_connect_replicator_user if kafka_connect_replicator_user != kafka_connect_replicator_default_user else '' }}"
  Group: "{{ kafka_connect_replicator_group if kafka_connect_replicator_group != kafka_connect_replicator_default_group else '' }}"

### Environment Variables to be added to the Kafka Connect Replicator Service. This variable is a dictionary.
kafka_connect_replicator_service_environment_overrides:
  KAFKA_HEAP_OPTS: "-Xms256M -Xmx2G"
  KAFKA_OPTS: "{{ kafka_connect_replicator_final_java_args | confluent.platform.java_arg_build_out }}"
  KAFKA_LOG4J_OPTS: "{% if kafka_connect_replicator_custom_log4j2|bool %}-Dlog4j2.configurationFile=file:{{ kafka_connect_replicator.log4j_file }}{% endif %}"

### Overrides to the Unit Section of Connect Systemd File. This variable is a dictionary.
kafka_connect_replicator_service_unit_overrides:

### Time in seconds to wait before starting Kafka Connect Replicator Health Checks.
kafka_connect_replicator_health_check_delay: 30

### Number of retries for Kafka Connect Replicator health checks
kafka_connect_replicator_health_check_retries: 30

### Delay in seconds between Kafka Connect Replicator health check retries
kafka_connect_replicator_health_check_retry_delay: 10
