resources:
- "@type": "type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret"
  name: credential
  generic_secret:
    secret:
      # Basic authentication credentials for upstream requests to CCloud.
      # The credential is base64 encoding of username and password joined by a ':'
      inline_string: "Basic {{ usm_agent_ccloud_basic_auth_encoded }}"
