resources:
  - "@type": "type.googleapis.com/envoy.config.core.v3.TypedExtensionConfig"
    name: envoy.filters.http.basic_auth
    typed_config:
      "@type": "type.googleapis.com/envoy.extensions.filters.http.basic_auth.v3.BasicAuth"
      users:
        # Basic authentication credentials for downstream requests received from CP components.
        # The password is hashed using SHA1 algorithm.
        inline_string: |-
{% for user_name, user_data in usm_agent_basic_users.items() %}
          {{ user_data.principal }}:{{ user_data.password | usm_sha1_password_hash }}
{% endfor %}
