resources:
- "@type": "type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret"
  name: cp_credential
  generic_secret:
    secret:
      # Basic authentication credentials for downstream requests from CP components.
      # Format: username:{SHA}sha1_hashed_password (one per line)
      inline_string: |
{% for user_name, user_data in usm_agent_basic_users.items() %}
        {{ user_data.principal }}:{SHA}{{ user_data.password | hash('sha1') }}
{% endfor %}
