# {{ ansible_managed }}
#
# USM Agent Configuration File
#

{% set final_properties = usm_agent_final_properties %}
{% for property_name in final_properties %}
{{property_name}}={{final_properties[property_name]}}
{% endfor %}
